---
title: EDM Homepage
layout: default.hbs
map: false
loader: false
---

{{> header }}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 no-padding">
			<div class="edm-item edm-item--large" style="background-image: url('assets/img/edm/item-large.jpg');">
				<div class="centered">
					<h3>AfroJack</h3>
					<p>Las Vegas 14 december</p>
				</div>
				<a href="#" class="button button--edm">Book <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div class="row">
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
		{{> edm-item }}
	</div>
</div>
{{> footer }}