---
title: E-mail template
layout: email.hbs
---

<body class="body">
    <table border="0" cellpadding="0" cellspacing="0" class="wrapper">
        <tr>
            <td align="center" valign="top">
                <table width="600" border="0" cellpadding="0" cellspacing="0" class="inner">
                    <!-- single column-->
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-12" valign="top">
                                        <div class="padding">
                                            <img src="http://roanhahn.github.io/Event-Agent-2015/assets/img/sensation/logo.svg" class="logo">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- single column-->
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-12" valign="top">
                                        <div class="padding">
                                            <h1>Thanks for booking with us!</h1>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-12" valign="top">
                                        <div class="padding">
                                            <h2>Your booking details:</h2>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- double column-->
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-6" valign="top">
                                        <div class="padding">
                                            
                                            <h3>Main booker</h3>
                                            <p>
                                                Mr. Michel de Winter
                                            </p>
                                            
                                        </div>
                                    </td>
                                    <td class="col-6" valign="top">
                                        <div class="padding">
                                            <h3>Your tickets</h3>
                                            <p>
                                                2x Black Regular
                                            </p>
                                            <p>
                                                <strong>Price: € 120,00</strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-12" valign="top">
                                        <div class="padding">
                                            <hr />
                                            <h2>YOUR HOTEL INFORMATION:</h2>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-6" valign="top">
                                        <div class="padding">                                            
                                            <p>
                                                <strong>Alp de Veenen Hotel</strong><br />
                                                Ouderkerkerlaan 19,<br />1185 AC Amsterdam<br />
                                            </p>
                                        </div>
                                    </td>
                                    <td class="col-6" valign="top">
                                        <div class="padding">
                                            <p>
                                                Check in: 01-07-2016<br />
                                                Check out:  04-07-2016<br />
                                                Room 1: Twin Room
                                            </p>
                                            <p>
                                                <strong>Price: € 315,00</strong>
                                            </p> 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-6" valign="top">
                                        <div class="padding">
                                            <h2>Total price:</h2>
                                        </div>
                                    </td>
                                    <td class="col-6" valign="top">
                                        <div class="padding">
                                            <h2>€ 435,00</h2>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
                                <tr>
                                    <td class="col-12" valign="top">
                                        <div class="padding">
                                        <hr /> 
                                            <p>Nulla sollicitudin quam arcu, ac ullamcorper risus pretium ac. Aenean suscipit fermentum lectus, in sodales justo. Fusce quis venenatis est, sed scelerisque neque. Nunc quis erat commodo, interdum quam in, elementum ante. Cras feugiat sem in egestas rutrum. Etiam vel massa et metus laoreet faucibus. Cras imperdiet velit ut felis rutrum, vitae venenatis nulla euismod. Ut facilisis interdum nunc, non varius quam laoreet vitae. Cras in quam ipsum. Duis id ligula blandit, tempus neque posuere, maximus neque. Integer sed tempus magna.</p>
                                            <hr /> 
                                            <h3>Contact & more information</h3>
                                            <p>
                                                +31(0)6 52 382 38<br />
                                                <a href="mailto:travel@eventagent.com" class="link">travel@eventagent.com</a> 
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>


