---
title: Welcome
layout: docs.hbs
---

<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{{site.title}} Docs
			</div>
		</div>
	</div>
</header>
<section class="docs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="h1-docs">Welcome<small>Official documentation for continuous integration and delivery of front-end components for {{site.title}}. Documentation, Testing and Guidelines.</h1>
			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-4">
				<h3>Our pages</h3>
				<ul>
					{{#each pages}}
					{{#isnt data.title 'Welcome'}}
						<li><a href="{{relative dest this.dest}}">{{ data.title }}</a></li>
					{{/isnt}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</section>