---
title: Loader
layout: default.hbs
slider: false
loader: false
---

<section class="section" style="padding: 60px 0;">

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="loader">
					<div class="loader-text">Hold on... we are searching for the best rooms and rates.</div>
					<div class="loader-wrapper">
						<div class="loader-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>