---
title: SENSATION Hero
layout: default.hbs
slider: false
---

{{> header }}



<div class="sensation-hero">
	<div class="logo"><img src="assets/img/sensation/hero-logo.png" class="img-responsive"></div>
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn">
						Bangkok
						<span>29 july</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn">
						Gliwice
						<span>13 oct</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn">
						Madrid
						<span>3 nov</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}