---
title: Hotel details
layout: default.hbs
---


{{> header }}
<!--{{> event-hero }}-->
<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{{> partial-preferences }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="fold-h3">Selected hotel</h3>
				<h1>Hilton Hotels</h1>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="carousel">
					<img class="lazyOwl" data-src="http://dummyimage.com/400x400/000/fff.png">
					<img class="lazyOwl" data-src="http://dummyimage.com/400x400/ccc/fff.png">
					<img class="lazyOwl" data-src="http://dummyimage.com/400x400/eee/fff.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div>
					<h3>Hotel information</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<h3>Hotel information</h3>
				<ul class="facilities-list clearfix">
					<li class="wifi">Wifi</li>
					<li class="bar">Bar</li>
					<li class="restaurant">Restaurant</li>
					<li class="transfers">Transfer</li>
					<li class="restaurant">Spa</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{{> footer }}



