---
title: Complete booking process with harmonica
layout: default.hbs
map: true
---

{{> header }}
{{> event-hero }}
<section class="section--white">
	<section id="only-one" data-accordion-group>

		<!-- Ticket -->
		<section data-accordion class="open">
			<div class="accordion-row" data-control>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="accordion-h3">1: ticket<small>Select the best ticket</small></h3>
						</div>
					</div>
				</div>
			</div>
			<div data-content class="data-content">
				<article>
					{{> partial-page-tickets }}
				</article>
			</div>
		</section>

		<!-- Hotels -->
		<section data-accordion>
			<div class="accordion-row" data-control>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="accordion-h3">2: hotel<small>Select your room</small></h3>
						</div>
					</div>
				</div>
			</div>
			<div data-content>
				<article>
					{{> partial-page-hotel-grid }}
					{{> partial-page-hotel-list }}
					{{> partial-page-hotel-map }}
					{{> partial-page-hotel-details }}
				</article>
			</div>
		</section>

		<!-- Customize -->
		<section data-accordion>
			<div class="accordion-row" data-control>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="accordion-h3">3: customize<small>Customize your package</small></h3>
						</div>
					</div>
				</div>
			</div>
			<div data-content>
				<article>{{> partial-page-customize }}</article>
			</div>
		</section>

		<!-- Personal info -->
		<section data-accordion>
			<div class="accordion-row" data-control>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="accordion-h3">4: personal info<small>Your contact details</small></h3>
						</div>
					</div>
				</div>
			</div>
			<div data-content>
				<article>
					{{> partial-page-personal-info }}
				</article>
			</div>
		</section>

		<!-- Summary -->
		<section data-accordion>
			<div class="accordion-row" data-control>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="accordion-h3">5: summary<small>Check and pay</small></h3>
						</div>
					</div>
				</div>
			</div>
			<div data-content>
				<article>
					{{> partial-page-summary }}
				</article>
			</div>
		</section>
	</section>
</section>
{{> footer }}
