---
title: SENSATION Hero
layout: default.hbs
slider: false
---

{{> header }}
<div class="sensation-hero">
	<div class="logo wow fadeInDownBig" data-wow-duration="1s" data-wow-delay="0s"><img src="assets/img/sensation/hero-logo.png" class="img-responsive"></div>
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Singapore
						<span>1 Sept</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Gliwice
						<span>13 oct</span>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Madrid
						<span>3 nov</span>
					</a>
				</div>
			</div>
			{{!-- <div class="row">
				<div class="col-sm-4 col-md-3">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Bangkok
						<span>3 nov</span>
					</a>
				</div>
				<div class="col-sm-4 col-md-3">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Prague
						<span>3 nov</span>
					</a>
				</div>
				<div class="col-sm-4 col-md-3">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Mexico city
						<span>3 nov</span>
					</a>
				</div>
				<div class="col-sm-4 col-md-3">
					<a href="#" class="sensation-hero-btn wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".1s">
						Monetrrey
						<span>3 nov</span>
					</a>
				</div>
			</div> --}}
		</div>
	</div>
</div>
{{> footer }}