---
title: Book Flights
layout: default.hbs
---



{{> header }}
<section class="section section--grey" style="padding-top: 60px;">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-sm-12"><h2 class="h2 m-b-40">Zoek je vluchten</h2></div>
			</div>
			<div class="row">
				<div class="col-sm-12"><h3 class="h3">Vlucht 1 | Economy</h3></div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="" class="form-label">Vetrek van</label>
						<div class="has-dropdown">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
								<input type="text" class="form-control form-field" placeholder="Amsterdam, Nederland (AMS)">
							</div>
							{{!-- <div class="flights-dropdown">
								<ul>
									<li>Amsterdam, Nederland (AMS)</li>
									<li>Amsterdam, Nederland (AMS)</li>
									<li>Amsterdam, Nederland (AMS)</li>
								</ul>
							</div> --}}
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="" class="form-label">Aankomst in</label>
						<div class="has-dropdown">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-plane fa-flip-horizontal" aria-hidden="true"></i></span>
								<input type="text" class="form-control form-field" placeholder="Amsterdam, Nederland (AMS)" value="AMS">
							</div>
							<div class="flights-dropdown">
								<ul>
									<li><strong>Ams</strong>terdam, Nederland (AMS)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="row">
						<div class="col-xs-8 col-md-9">
							<div class="form-group">
								<label for="" class="form-label">Vertrekdatum</label>
								<div class="input-group date">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
									<input type="text" class="form-control form-field" placeholder="Kies een datum">
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-md-3 text-right">
							<button type="button" class="btn btn-default btn-lg m-t-25">
								<span class="fa fa-trash" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-40">
				<div class="col-sm-12"><h3 class="h3">Vlucht 2 | Economy</h3></div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="" class="form-label">Vetrek van</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-plane " aria-hidden="true"></i></span>
							<input type="text" class="form-control form-field" placeholder="Amsterdam, Nederland (AMS)">
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="" class="form-label">Aankomst in</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-plane fa-flip-horizontal" aria-hidden="true"></i></span>
							<input type="text" class="form-control form-field" placeholder="">
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="row">
						<div class="col-xs-8 col-md-9">
							<div class="form-group">
								<label for="" class="form-label">Vertrekdatum</label>
								<div class="input-group date">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
									<input type="text" class="form-control form-field" placeholder="Kies een datum">
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-md-3 text-right">
							<button type="button" class="btn btn-default btn-lg m-t-25">
								<span class="fa fa-trash" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-40">
				<div class="col-md-4">
					<button class="button button--primary m-t-25">Voeg extra vlucht toe</button>
				</div>
				<div class="col-xs-6 col-md-4">
					<div class="row">
						<div class="col-sm-4">
							<label for="" class="form-label">Volw.</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-male" aria-hidden="true"></i></span>
								<input type="number" value="1" class="form-control form-field">
							</div>
						</div>
						<div class="col-sm-4">
							<label for="" class="form-label">Kind</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
								<input type="number" value="0" class="form-control form-field">
							</div>
						</div>
						<div class="col-sm-4">
							<label for="" class="form-label">Baby</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
								<input type="number" value="0" class="form-control form-field">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-4 ">
					<div class="row">
						<div class="col-sm-6">
							<label for="" class="form-label">Tarieftype</label>
							<select name="" id="country" class="form-select" required="required">
								<option value="1" class="form-option">Economy</option>
								<option value="1" class="form-option">Premium Economy</option>
								<option value="1" class="form-option">Business</option>
								<option value="1" class="form-option">First</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label for="" class="form-label">Vluchttype</label>
							<select name="" id="country" class="form-select" required="required">
								<option value="1" class="form-option">Retour</option>
								<option value="1" class="form-option">Enkele reis</option>
								<option value="1" class="form-option">Meerdere bestemmingen</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row"> 
				<div class="col-xs-12 text-right">
					<div class="form-group">
						<button type="submit" class="button button--primary button--block-mobile submitformbutton">Zoeken</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>


{{!-- <form action="" method="" class="ticket-form">

	<div class="row">
		
		<div class="col-sm-6 col-md-3">
			<label for="" class="form-label">Check in</label>
			<div class="form-wrapper">
				<select name="" id="checkin" class="form-select" required="required">
					<option value="1" class="form-option">24-11-2015</option>
					<option value="2" class="form-option">24-11-2015</option>
					<option value="3" class="form-option">24-11-2015</option>
					<option value="4" class="form-option">24-11-2015</option>
					<option value="5" class="form-option">24-11-2015</option>
					<option value="6" class="form-option">24-11-2015</option>
				</select>
			</div>
			<div class="form-text-message">Some text goes here</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<label for="" class="form-label">Check out</label>
			<div class="form-wrapper">
				<select name="" id="checkout" class="form-select" required="required">
					<option value="1" class="form-option">24-11-2015</option>
					<option value="2" class="form-option">24-11-2015</option>
					<option value="3" class="form-option">24-11-2015</option>
					<option value="4" class="form-option">24-11-2015</option>
					<option value="5" class="form-option">24-11-2015</option>
					<option value="6" class="form-option">24-11-2015</option>
				</select>
			</div>
			<div class="form-text-message">Some text goes here</div>
		</div>
		<div class="col-sm-6 col-md-1">
			<label for="" class="form-label">Persons</label>
			<div class="form-persons">
				<span>12</span>
			</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Guests per room</label>
			<div class="form-wrapper">
				<select name="" id="rooms" class="form-select" required="required">
					<option value="1" class="form-option">2</option>
					<option value="2" class="form-option">3</option>
					<option value="3" class="form-option">4</option>
				</select>
			</div>
			<div class="form-text-message"></div>
		</div>
		
		<div class="col-sm-6 col-md-1">
			<label for="" class="form-label">Rooms</label>
			<div class="form-rooms">
				<span>2</span>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-2 ticket-form-submit text-right">
			<input type="submit" disabled="disabled" value="Confirm" class="button button--primary button--block-mobile">
		</div>
	</div>

</form> --}}
{{> footer }}

