---
title: Book Flights - Searching
layout: default.hbs
---

{{> header }}

<section class="section section--flights">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="flights-searching">
					<div class="centered">
						<div class="heading">Sensation zoekt de beste vlucht</div>
						<div class="data">
							<p><i class="fa fa-plane" aria-hidden="true"></i> <span class="date">20-12-2016</span> <strong>Amsterdam</strong> <span>(AMS)</span> - <strong>New York</strong> <span>(JFK)</span></p>
							<p><i class="fa fa-plane fa-flip-horizontal" aria-hidden="true"></i> <span class="date">20-12-2016</span> <strong>New York</strong> <span>(JFK)</span> -  <strong>Amsterdam</strong> <span>(AMS)</span></p>
						</div>

						<div class="loader">
							<div class="loader-mask"></div>
							<div class="loader-circle"></div>
						</div>
						
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>


{{> footer }}