---
title: Book Flights - Results
layout: default.hbs
---

{{> header }}

<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12"></div>
		</div>
	</div>
</section>



<section class="section section--grey">
	<div class="container">




		<div class="row">
			<div class="col-sm-12">
				<div class="flights-traject">
					
							<div class="flight">
								<div class="heading">Amsterdam, Nederland</div>
								<div class="date">Vertrek: <strong>za. 31 dec. 2016</strong></div>
								<div class="seperator">
									<span class="icon"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></span>
								</div>
							</div>
					
						
							<div class="flight">
								<div class="heading">
									New York, JF Kennedy Intl, NY, Verenigde Staten
								</div>
								<div class="date">
									Aankomst: za. 31 dec. 2016<br />
									Vertrek: <strong>za. 25 feb. 2017</strong>
								</div>
								<div class="seperator">
									<span class="icon"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></span>
								</div>
							</div>
					
					
							<div class="flight">
								<div class="heading">Amsterdam, Nederland</div>
								<div class="date">Aankomst: <strong>zo. 26 feb. 2017</strong></div>
							</div>
					
					
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-4">
				<div class="flights-feature flights-feature--price">
					<div class="name">Goedkoopste vlucht</div>
					<div><a href="#" class="readmore">Brussel Airlines <span>&euro; 348</span></a></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="flights-feature flights-feature--time">
					<div class="name">Totale reisduur <span>15u 20</span></div>
					<div><a href="#" class="readmore">Delta Airlines <span>&euro; 578</span></a></div>
				</div>
			</div>
		</div>
		<div class="row">

			{{!-- Filter --}}
			<div class="col-md-3">

				
				<div class="panel-group" id="filter" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default flights-filter">
						<div class="panel-heading" data-toggle="collapse" href="#stops" aria-expanded="true" aria-controls="stops">
							Aantal stops:
							<span class="toggle-panel"></span>
						</div>
						<div id="stops" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="stops">
							<div class="panel-body">
								<ul>
									<li>
										<div>
											<label for="check1">
												<input id="check1" name="" checked="" type="checkbox" />Toon alles
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check2">
												<input id="check2" name="" type="checkbox" />Direct
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check3">
												<input id="check3" name="" type="checkbox" />1 stop
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check4">
												<input id="check4" name="" type="checkbox" />2 stops
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default flights-filter">
						<div class="panel-heading" data-toggle="collapse" href="#partner" aria-expanded="true" aria-controls="partner">
							Vliegmaatschapij:
							<span class="toggle-panel"></span>
						</div>
						<div id="partner" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="partner">
							<div class="panel-body">
								<ul>
									<li>
										<div>
											<label for="check1">
												<input id="check1" name="" checked="" type="checkbox" />Toon alles
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check2">
												<input id="check2" name="" type="checkbox" />Value
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check3">
												<input id="check3" name="" type="checkbox" />Value
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
									<li>
										<div>
											<label for="check4">
												<input id="check4" name="" type="checkbox" />Value
												<span class="pull-right">(€839)</span>
											</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				

				Filter je resultaten
				<button>Reset filter</button>

				<div>
					Bagage

					<form>
						<div></div>
					</form>
				</div>
			</div>
			
			{{!-- Resultaten --}}
			<div class="col-md-9">
				<div class="text-left m-b-30">
					<h2 class="h2">Alle zoekresultaten</h2>
					<p class="h4">Er zijn 63 vluchten gevonden.</p>
				</div>
				<div class="flights-item">
					<div class="operator clearfix">
						<div class="operator-logo">
							<img src="https://7thgear-prod.azureedge.net/img/FlightEngine/Default/Airlines/th_dl_tx.png" alt="" class="img-responsive">
						</div>
						<div class="cabinclass">Economy</div>
					</div>
					<div class="row">
						<div class="col-sm-9">
							<table id="">
								<thead>
									<tr>
										<th colspan="4" class="date"><i class="fa fa-plane" aria-hidden="true"></i> <span>Vlucht 1:</span> vrijdag 23 dec. 2016</th>
										<th>Stoelen</th>
										<th>Stops</th>
										<th>Reisduur</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr class="flight-row">
										<td class="departure-time"><input type="radio" checked="" id="" name="heenvlucht" class="flights-radio"> 10:35</td>
										<td class="departure-airport">Amsterdam</td>
										<td class="arrival-time">13u30</td>
										<td class="arrival-airport">New York, JFK...</td>
										<td>0</td>
										<td>Direct</td>
										<td>8u20</td>
										<td class="info"><i class="fa fa-question-circle" aria-hidden="true"></i></td>
									</tr>
									<tr class="flight-row">
										<td class="departure-time"><input type="radio" id="" name="heenvlucht" class="flights-radio"> 10:35</td>
										<td class="departure-airport">Amsterdam</td>
										<td class="arrival-time">13u30</td>
										<td class="arrival-airport">New York, JFK...</td>
										<td>0</td>
										<td>1x</td>
										<td>8u20</td>
										<td class="info"><i class="fa fa-question-circle" aria-hidden="true"></i></td>
									</tr>
								</tbody>
							</table>

							<table id="">
								<thead>
									<tr>
										<th colspan="4" class="date"><i class="fa fa-plane fa-flip-horizontal" aria-hidden="true"></i> <span>Vlucht 2:</span> zaterdag 24 dec. 2016</th>
										<th>Stoelen</th>
										<th>Stops</th>
										<th>Reisduur</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr class="flight-row">
										<td class="departure-time"><input type="radio" checked="" id=""  name="retourvlucht" class="flights-radio"> 23u40</td>
										<td class="departure-airport">New York, JFK...</td>
										<td class="arrival-time">22u40</td>
										<td class="arrival-airport">Amsterdam</td>
										<td>0</td>
										<td>Direct</td>
										<td>8u20</td>
										<td class="info"><i class="fa fa-question-circle" aria-hidden="true"></i></td>
									</tr>
									<tr class="flight-row">
										<td class="departure-time"><input type="radio" checked="" id=""  name="retourvlucht" class="flights-radio"> 23u40</td>
										<td class="departure-airport">New York, JFK...</td>
										<td class="arrival-time">22u40</td>
										<td class="arrival-airport">Amsterdam</td>
										<td>0</td>
										<td>Direct</td>
										<td>8u20</td>
										<td class="info"><i class="fa fa-question-circle" aria-hidden="true"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-3 text-center booking">
							<div class="fare">€1.393,-</div>
							<div class="book">
								<a href="" class="button button--flights">Boek nu</a>
							</div>
							<div class="bagage">
								<div><i class="fa fa-suitcase" aria-hidden="true"></i></div>
								Bagage inbegrepen
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
{{> footer }}