---
title: Video on mobile
layout: default.hbs
map: false
loader: false
---

<div class="video-responsive">
	<video class="video" muted="muted" loop="loop" autoplay="autoplay">
		<source src='{{assets}}/img/asot/new.mp4' type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
	<canvas class="canvas"></canvas>
	{{!-- <div id="over_video">Look at me</div> --}}
</div>