<div class="col-sm-6 col-md-4 no-padding">
	<div class="edm-item" style="background-image: url('/assets/img/edm/item.jpg');">
		<div class="event">
			<h3>Burning man</h3>
			<p>Black Rock Desert / 24 aug 2017</p>
		</div>
		<a href="#" class="button button--edm">Book <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
</div>