<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4 class="footer-h4">Contact</h4>
				<ul class="footer-list">
					<li class="footer-list-item">
						+31(0)6 52 382 38
					</li>
					<li class="footer-list-item">
						<a href="" class="footer-list-link">travel@eventagent.com</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4 class="footer-h4">General</h4>
				<ul class="footer-list">
					<li class="footer-list-item">
						<a href="" class="footer-list-link">General conditions</a>
					</li>
					<li class="footer-list-item">
						<a href="" class="footer-list-link">Disclaimer</a>
					</li>
					<li class="footer-list-item">
						<a href="" class="footer-list-link">Privacy policy</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4 class="footer-h4">Login</h4>
				<form class="footer-form">
					<fieldset class="">
						<div class="footer-form-wrapper">
							<input type="text" placeholder="Type login code here" class="footer-form-field">
							<input type="submit" value="ok" class="footer-form-submit">
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-sm-3">
				<h4 class="footer-h4">Legals</h4>
				<ul class="footer-list">
					<li class="footer-list-item">
						Copyright Event Agent.
					</li>
					<li class="footer-list-item">
						All Rights reserved.
					</li>
					<li class="footer-list-item">
						<a href="" class="footer-list-link">Webdesign by Loco</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>