<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="/" class="header-logo"></a>
				<nav class="header-menu">
					<ul class="header-menu-list">
						<li class="header-menu-item">
							<a href="#" class="header-menu-link">tell me more</a>
						</li>
						<li class="header-menu-item">
							<div href="#" class="header-menu-link show-cart">
								your booking
								<div class="cart-total">&euro; 4.765,95</div>
							</div>
							<div class="cart">
								<div class="close-cart"></div>
								<div class="cart-section cart-section--noborder">
									<strong>Hotel Ibis Amsterdam Airport</strong>
									<div>135 Avenue of The Americas, New York NY</div>
								</div>
								<div class="cart-section">
									<div><strong>Check in: donderdag 24 nov</strong></div>
									<div><strong>Check out: maandag 27 nov</strong></div>
								</div>
								<div class="cart-section">
									<div><strong>Kamer 1: Presidential Suite</strong></div>
									<div class="row">
										<div class="col-xs-8">2 volwassenen, 3 nachten</div>
										<div class="col-xs-4 text-right">€ 2.667,50</div>
									</div>
									<a href="" class="button button--small button--block button--secondary margin-top-10">PLEASE BOOK A SECOND ROOM</a>
								</div>
								<div class="cart-total-price">
									<div class="row">
										<div class="col-xs-6">Total</div>
										<div class="col-xs-6 text-right">&euro; 3.567,50</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="content-wrapper">