<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h1 class="hero-h1">welcome at mysteryland travel, not only you'll book here official tickets, also we have selected the best hotels to stay in.</h1>
            </div>
        </div>
    </div>
</section>