<section class="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-4 no-padding">
                <div class="location-visual-wrapper location-visual-wrapper--ams">
                    <div class="location-visual location-visual--ams">
                        <div class="img-container img-ratio-4-3">
                            <div class="location-buttons">
                                <div class="table">
                                    <div class="vertical-align">
                                        <a href="" class="button button--location">Premium Packages<span class="button-explain">For the best experience</span></a>
                                        <a href="" class="button button--location">Custom Packages<span class="button-explain">Create your own experience</span></a>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/flyingdutch/amsterdam.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="location-content location-content--ams clearfix">
                    <div class="location-info">
                        <div class="vertical-align">
                            <h3 class="location-h3">Amsterdam
                                <small>Olympic stadium</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 no-padding">
                <div class="location-visual-wrapper location-visual-wrapper--eind">
                    <div class="location-visual location-visual--eind">
                        <div class="img-container img-ratio-4-3">
                            <div class="location-buttons">
                                <div class="table">
                                    <div class="vertical-align">
                                        <a href="" class="button button--location">Premium Packages<span class="button-explain">For the best experience</span></a>
                                        <a href="" class="button button--location">Custom Packages<span class="button-explain">Create your own experience</span></a>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/flyingdutch/eindhoven.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="location-content location-content--eind clearfix">
                    <div class="location-info">
                        <div class="vertical-align">
                            <h3 class="location-h3">Eindhoven
                                <small>Strijp S</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 no-padding">
                <div class="location-visual-wrapper location-visual-wrapper--rdam">
                    <div class="location-visual location-visual--rdam">
                        <div class="img-container img-ratio-4-3">
                            <div class="location-buttons">
                                <div class="table">
                                    <div class="vertical-align">
                                        <a href="" class="button button--location">Premium Packages<span class="button-explain">For the best experience</span></a>
                                        <a href="" class="button button--location">Custom Packages<span class="button-explain">Create your own experience</span></a>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/flyingdutch/rotterdam.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="location-content location-content--rdam clearfix">
                    <div class="location-info">
                        <div class="vertical-align">
                            <h3 class="location-h3">Rotterdam
                                <small>Ahoy</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

