<div class="col-sm-6 col-md-4 no-padding">
	<div class="location-visual-wrapper">
		<div class="location-visual">
			<div class="img-container img-ratio-4-3">
				<div class="location-buttons">
					<div class="table">
						<div class="vertical-align">
						<a href="" class="button button--outline">Premium Packages<span class="button-explain">For the best experience</span></a>
							<a href="" class="button button--outline">Custom Packages<span class="button-explain">Create your own experience</span></a>
						</div>
					</div>
				</div>
				<img src="http://dummyimage.com/400x300/eee/fff.png" class="img-responsive">
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="location-date">
			<div class="vertical-align">
				<div class="day">12</div>
				<div class="month">nov</div>
			</div>
		</div>
		<div class="location-info">
			<div class="vertical-align">
				<h3 class="location-h3">Netherlands
					<small>12 October, Amsterdam ArenA</small>
				</h3>
				<img src="/assets/img/flag_usa.png" alt="" class="location-flag">
			</div>
		</div>
	</div>
</div>