<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<div class="fold-navigation">
						<button class="button button--prev">Back</button>
						<button class="button button--next">Next</button>
					</div>
					<h3 class="fold-h3">Customize your booking</h3>
				</div>
			</div>
		</div>
		{{> partial-customize-item }}
		{{> partial-customize-item }}
		{{> partial-customize-item }}
	</div>
</section>

