<div class="hotel-item-grid">
	<div class="ribbon">
		<div class="banner">
			<div class="text">Our pick</div>
		</div>
	</div>
	<div class="hotel-item-grid-price">&euro; 229,- p.p.</div>
	<div class="hotel-item-grid-wrapper">
		<div class="hotel-item-grid-slide">
			<div class="hotel-item-grid-body">
				<div class="hotel-item-grid-image">
					<div class="img-container img-ratio-2-1">
						<img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/hotel.jpg" alt="" class="img-responsive lazyimage">
					</div>
				</div>
				<div class="hotel-item-grid-content">
					<div class="title">Hilton Hotel</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
					<div class="intro">
						The 4-star Absolutum Boutique Hotel is a newly renovated and modern hotel situated in the heart of Prague.
					</div>
				</div>
			</div>
			<div class="row facilities">
				<div class="col-sm-12">
					<ul class="facilities-list clearfix">
						<li class="wifi">Wifi</li>
						<li class="bar">Bar</li>
						<li class="restaurant">Restaurant</li>
						<li class="transfers">Transfer</li>
						<li class="restaurant">Spa</li>
					</ul>
				</div>
				<div class="col-sm-12">
					<a href="" class="button button--primary button--block">select hotel</a>
				</div>
			</div>
		</div>
	</div>
</div>