<section class="section section--grey hotel-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{> partial-preferences }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                
                <h1 class="h1">Hilton Hotels</h1>
                
                
            </div>
            <div class="col-sm-4">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="carousel">
                    <img class="img-responsive" src="assets/img/hotel1.jpg">
                    <img class="img-responsive" src="assets/img/hotel2.jpg">
                    <img class="img-responsive" src="assets/img/hotel3.jpg">
                    <img class="img-responsive" src="assets/img/hotel4.jpg">
                    <img class="img-responsive" src="assets/img/hotel5.jpg">
                    <img class="img-responsive" src="assets/img/hotel6.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div>
                    <h3 class="h3">Hotel information</h3>
                    <p class="p">
                        This hotel enjoys a convenient location in the centre of Filderstadt-Berhausen and offers ideal
                        connections to the area’s main transport hubs being 1.7 miles from Stuttfart airport. All 139 rooms are
                        air-conditioned and soundproofed with guests having access to 24 hour room service and free Wi-Fi
                        internet. The hotel restaurant has an open kitchen and offers delicious, fresh and healthy dishes as
                        well as a large breakfast buffet in the morning.
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="h3">Hotel facilities</h3>
                <ul class="facilities-list clearfix">
                    <li class="wifi">Wifi</li>
                    <li class="bar">Bar</li>
                    <li class="restaurant">Restaurant</li>
                    <li class="transfers">Transfer</li>
                    <li class="restaurant">Spa</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="h4 margin-top-40">Select roomtype</h4>
                {{> partial-room-booked }}
                {{> partial-room }}
                {{> partial-room }}
                {{> partial-room }}
            </div>
        </div>
    </div>
</section>