<div class="hotel-details-room">
    <div class="row">
        <div class="col-sm-9">
            <div class="">
                <div class="room-title">Premier kamer, 1 kingsize bed <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Basic room with shared bathroom (1-2 adults). Max occupacy: 2. Price includes: breakfast. Price excludes: extra bed."></i></div>
                <div class="room-details">
                    {{!-- <strong>Description:</strong> --}}
                    <div class="toggle-description">
                    Een zeer ruime kamer met een stijlvolle inrichting met airconditioning. In het afgescheiden woongedeelte is het heerlijk relaxen of TV kijken. U beschikt in deze kamer over draadloos internet en een eethoekje voor 2 personen. De minibar is standaard gevuld met koele drankjes. Of heeft u liever een heerlijk kopje Nespreso koffie? Bij mooi weer: extra genieten op uw privé-balkon! De badkamer is uitgerust met ligbad, douche en toilet. Verzorgende Rituals beautyproducten staan voor u klaar.
                    </div>
                    <button class="show-more-description">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="room-price">&euro; 289,- <span>(price per room)</span></div>
            {{!-- <div class="manage-rooms">
                <button class="manage-button minus"></button>
                <div class="amount">1</div>
                <button class="manage-button plus"></button>
            </div> --}}
            <a href="" role="button" class="button button--primary hotel-item-list-button">book room</a>
        </div>
    </div>
</div>