<div class="hotel-item-list">
	<div class="clearfix">
		<div class="col-sm-3 col-md-4 col-lg-3 no-padding">
			<div class="hotel-item-list-price hotel-item-list-price--mobile">&euro; 229,- <span>(price per night)</span></div>
			<div class="ribbon"><div class="text"><span>lalal</span></div></div>
			<div class="img-container img-ratio-1-1">
				<a href="#">
					{{!-- <img src="http://dummyimage.com/400x400/fff/fff.png" data-src="http://dummyimage.com/600x600/163c48/fff.png" alt="" class="img-responsive lazyimage"> --}}
					<img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/ml2018/hotel.jpg" alt="" class="img-responsive lazyimage">
				</a>
			</div>
		</div>
		<div class="col-sm-9 col-md-8 col-lg-9">
			<div class="row">
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-12">
							<div class="hotel-item-list-content">
								<div class="title"><a href="#">Hilton Hotel</a></div>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<span>Distance to venue 5km</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="hotel-item-list-content hotel-item-list-content--no-margin">
								<div class="intro">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
									{{!-- <ul>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</li>
										<li>listitem</li>
									</ul> --}}
									{{!-- <ol>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</li>
										<li>listitem</li>
									</ol> --}}
								</div>
							</div>
						</div>
						<div class="col-md-5" style="display: none;">
							<div class="hotel-item-list-content hotel-item-list-content--no-margin">
								<ul class="facilities-list clearfix">
									<!--<li class="AICO">Air Conditioning</li>-->
									<li class="BRBF">Breakfast Buffet</li>
									<!--<li class="COBU">Computer Business Centre</li>-->
									<li class="CUEX">Currency Exchange</li>
									<!--<li class="EXCK">Express Check in/Check out</li>-->
									<li class="FD24">Front Desk 24/7</li>
									<li class="INWI">Wi/Fi Wireless LAN</li>
									<!--<li class="MEFA">Meeting Facilities/Conference</li>
									<li class="PARK">Parking</li>
									<li class="ROSE">Room Service</li>
									<li class="RTNT">Restaurant</li>
									<li class="SAFD">Safety Deposit Box</li>-->
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-5">
					<div class="clearfix">
						<div class="hotel-item-list-price">
							&euro; 229,-
							<span>(price per night)</span>
						</div>
						<a href="" class="button button--primary hotel-item-list-button">select hotel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>