



<div class="flights-item">
	<div class="operator clearfix">
		<div class="operator-logo">
			<img src="https://7thgear-prod.azureedge.net/img/FlightEngine/Default/Airlines/th_dl_tx.png" alt="" class="img-responsive">
		</div>
		<div class="cabinclass">Economy</div>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<table>
				<thead>
					<tr>
						<th colspan="4" class="date"><i class="fa fa-plane" aria-hidden="true"></i> <span>Vlucht 1:</span> vrijdag 23 dec. 2016</th>
						<th>Stoelen</th>
						<th>Stops</th>
						<th>Reisduur</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="flight-row">
						<td class="xs-hide departure-time"><input type="radio" id="" name="heenvlucht1" class="flights-radio flight-radio-desk"> 10u35</td>
						<td class="xs-hide departure-airport">Amsterdam</td>
						<td class="xs-hide arrival-time">13u30</td>
						<td class="xs-hide arrival-airport">New York, JFK...</td>
						<td class="xs-hide seats-left">9</td>
						<td class="xs-hide stopovers">Direct</td>
						<td class="xs-hide traveltime">8u20</td>
						<td class="xs-hide info">
							<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
						</td>
						{{!-- MOBILE --}}
						<td class="mobile-label mobile-radio"><input type="radio" id="" name="heenvlucht1" class="flights-radio flight-radio-mob"></td>
						<td class="mobile-label">
							<div>Vertrek</div>
							<div>Aankomst</div>
							<div>Stoelen</div>
							<div>Stops</div>
							<div>Reisduur</div>
						</td>
						<td class="mobile-label">
							<div>10u35</div>
							<div>13u30</div>
							<div>9</div>
							<div>Direct</div>
							<div>8u20</div>
						</td>
						<td class="mobile-label">
							<div>Amsterdam</div>
							<div>New York, JFK..</div>
							<div class="info">
								<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
							</div>
						</td>
					</tr>
					<tr class="flight-row">
						<td class="xs-hide departure-time"><input type="radio" id="" name="heenvlucht1" class="flights-radio flight-radio-desk"> 10u35</td>
						<td class="xs-hide departure-airport">Amsterdam</td>
						<td class="xs-hide arrival-time">13u30</td>
						<td class="xs-hide arrival-airport">New York, JFK...</td>
						<td class="xs-hide">0</td>
						<td class="xs-hide">1x</td>
						<td class="xs-hide">8u20</td>
						<td class="xs-hide info">
							<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
						</td>
						{{!-- MOBILE --}}
						<td class="mobile-label mobile-radio"><input type="radio" id="" name="heenvlucht1" class="flights-radio flight-radio-mob"></td>
						<td class="mobile-label">
							<div>Vertrek</div>
							<div>Aankomst</div>
							<div>Stoelen</div>
							<div>Stops</div>
							<div>Reisduur</div>
						</td>
						<td class="mobile-label">
							<div>10u35</div>
							<div>13u30</div>
							<div>0</div>
							<div>1x</div>
							<div>8u20</div>
						</td>
						<td class="mobile-label">
							<div>Amsterdam</div>
							<div>New York, JFK..</div>
							<div class="info">
								<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th colspan="4" class="date"><i class="fa fa-plane fa-flip-horizontal" aria-hidden="true"></i> <span>Vlucht 2:</span> vrijdag 23 dec. 2016</th>
						<th>Stoelen</th>
						<th>Stops</th>
						<th>Reisduur</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="flight-row">
						<td class="xs-hide departure-time"><input type="radio" id="" name="heenvlucht2" class="flights-radio flight-radio-desk"> 10u35</td>
						<td class="xs-hide departure-airport">Amsterdam</td>
						<td class="xs-hide arrival-time">13u30</td>
						<td class="xs-hide arrival-airport">New York, JFK...</td>
						<td class="xs-hide seats-left">9</td>
						<td class="xs-hide stopovers">Direct</td>
						<td class="xs-hide traveltime">8u20</td>
						<td class="xs-hide info">
							<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
						</td>
						{{!-- MOBILE --}}
						<td class="mobile-label mobile-radio"><input type="radio" id="" name="heenvlucht2" class="flights-radio flight-radio-mob"></td>
						<td class="mobile-label">
							<div>Vertrek</div>
							<div>Aankomst</div>
							<div>Stoelen</div>
							<div>Stops</div>
							<div>Reisduur</div>
						</td>
						<td class="mobile-label">
							<div>10u35</div>
							<div>13u30</div>
							<div>9</div>
							<div>Direct</div>
							<div>8u20</div>
						</td>
						<td class="mobile-label">
							<div>Amsterdam</div>
							<div>New York, JFK..</div>
							<div class="info">
								<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
							</div>
						</td>
					</tr>
					<tr class="flight-row">
						<td class="xs-hide departure-time"><input type="radio" id="" name="heenvlucht2" class="flights-radio flight-radio-desk"> 10u35</td>
						<td class="xs-hide departure-airport">Amsterdam</td>
						<td class="xs-hide arrival-time">13u30</td>
						<td class="xs-hide arrival-airport">New York, JFK...</td>
						<td class="xs-hide">0</td>
						<td class="xs-hide">1x</td>
						<td class="xs-hide">8u20</td>
						<td class="xs-hide info">
							<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
						</td>
						{{!-- MOBILE --}}
						<td class="mobile-label mobile-radio"><input type="radio" id="" name="heenvlucht2" class="flights-radio flight-radio-mob"></td>
						<td class="mobile-label">
							<div>Vertrek</div>
							<div>Aankomst</div>
							<div>Stoelen</div>
							<div>Stops</div>
							<div>Reisduur</div>
						</td>
						<td class="mobile-label">
							<div>10u35</div>
							<div>13u30</div>
							<div>0</div>
							<div>1x</div>
							<div>8u20</div>
						</td>
						<td class="mobile-label">
							<div>Amsterdam</div>
							<div>New York, JFK..</div>
							<div class="info">
								<a tabindex="0" role="button" type="button" class="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" title="Amsterdam - Zurich<br />Reisduur: 14u10" data-html="true" data-content="{{> partial-flight-popover }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3 text-center booking">
			<div class="fare">€1.393,-</div>
			<div class="book">
				<a href="" class="button button--flights">Boek nu</a>
			</div>
			<div class="bagage">
				<div><i class="fa fa-suitcase" aria-hidden="true"></i></div>
				Bagage inbegrepen
			</div>
		</div>
	</div>
</div>