<table class='flight-popover'>
	<tbody>
		<tr>
			<td class='first'>Vlucht 1</td>
			<td>Amsterdam -Zurich</td>
		</tr>
		<tr>
			<td class='first'>Vertrek</td>
			<td><strong>09u50</strong> ma. 09 jan. 2017</td>
		</tr>
		<tr>
			<td class='first'>Aankomst</td>
			<td><strong>11u20</strong> ma. 09 jan. 2017</td>
		</tr>
		<tr>
			<td class='first'>Reisduur</td>
			<td>1u30</td>
		</tr>
		<tr>
			<td class='first'>Vluchtnummer</td>
			<td>LX725</td>
		</tr>

		<tr>
			<td colspan='2'><strong>Transfertijd 1u55, Zurich</strong></td>
		</tr>

		<tr>
			<td class='first'>Vlucht 2</td>
			<td>Zurich -Miami</td>
		</tr>
		<tr>
			<td class='first'>Vertrek</td>
			<td><strong>13u15</strong> ma. 09 jan. 2017</td>
		</tr>
		<tr>
			<td class='first'>Aankomst</td>
			<td><strong>18u00</strong> ma. 09 jan. 2017</td>
		</tr>
		<tr>
			<td class='first'>Reisduur</td>
			<td>10u45</td>
		</tr>
		<tr>
			<td class='first'>Vluchtnummer</td>
			<td>LX64</td>
		</tr>
	</tbody>
</table>