<div class="hotel-item-list">
	<div class="clearfix">
		<div class="col-sm-5 col-md-4 col-lg-3 no-padding">
			<div class="hotel-item-list-price hotel-item-list-price--mobile">&euro; 229,- p.p.</div>
			<div class="ribbon"><div class="text"><span>Our pick</span></div></div>
			<div class="img-container img-ratio-1-1 xs-img-ratio-2-1">
				<a href="#"><img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/hotel.jpg" alt="" class="img-responsive lazyimage"></a>
			</div>
		</div>
		<div class="col-sm-7 col-md-8 col-lg-9">
			<div class="row">
				<div class="col-md-8">
					<div class="hotel-item-list-content">
						<div class="title">Hilton Hotel</div>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
						<div class="intro">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
						</div>
						<ul class="facilities-list clearfix">
							<li class="wifi">Wifi</li>
							<li class="bar">Bar</li>
							<li class="restaurant">Restaurant</li>
							<li class="transfers">Transfer</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="clearfix">
						<div class="hotel-item-list-price">&euro; 229,- p.p.</div>
						<a href="" class="button button--primary hotel-item-list-button">select hotel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>