<section class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{> partial-ticket-form }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3 class="fold-h3">MYSTERYLAND SELECTED HOTELS</h3>
            </div>
            <div class="col-sm-4 text-right">
                <ul class="switch-display clearfix">
                    <li class="display-options-map"></li>
                    <li class="display-options-grid active"></li>
                    <li class="display-options-list"></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{> partial-hotel-grid-item }}
            </div>
        </div>
        {{> partial-pager }}
    </div>
</section>