<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<!--div class="fold-navigation">
						<button class="button button--prev">Back</button>
						<button class="button button--next">Next</button>
					</div>
					<h3 class="fold-h3">Your personal details</h3-->
					</div>
				</div>
			</div>
			<form class="form-personal-info">
				<fieldset>
					<div class="row">
						<div class="col-sm-12">
							<ul class="form-error-list">
								<li>Please use the correct pattern AZ-az</li>
								<li>A valid phonenumber is required</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="firstname" class="form-label">First name</label>
							<input type="text" name="" id="firstname" value="John" maxlength="" placeholder="" class="form-field">
						</div>
						<div class="col-sm-6">
							<label for="lastname" class="form-label">Last name</label>
							<input type="text" name="" id="lastname" value="Doe" maxlength="" placeholder="" class="form-field">
						</div>

						<div class="col-sm-6">
							<label for="address" class="form-label">Address</label>
							<input type="text" name="" id="address" value="First name" maxlength="" placeholder="" class="form-field">
						</div>
						<div class="col-sm-3">
							<label for="city" class="form-label">City</label>
							<input type="text" name="" id="city" value="Somewheretown" maxlength="" placeholder="" class="form-field">
						</div>
						<div class="col-sm-3">
							<label for="zip" class="form-label">Zipcode</label>
							<input type="text" name="" id="zip" value="1234 AB" maxlength="" placeholder="" class="form-field">
						</div>
						<div class="col-sm-6">
							<label for="phonenumber" class="form-label form-label--error">Phone number</label>
							<input type="text" name="" id="phonenumber" value="+31(0)612345678" maxlength="" placeholder="" class="form-field form-field--error">
						</div>
						<div class="col-sm-6">
							<label for="email" class="form-label">Email</label>
							<input type="text" name="" id="email" value="johndoe@mail.com" maxlength="" placeholder="" class="form-field">
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<label for="birthday" class="form-label">Date of birth</label>
								</div>
								<div class="col-sm-4">
									<select name="" id="birthday" class="form-select form-select--error" required="required">
										<option value="1" class="form-option">Days</option>
										<option value="2" class="form-option">01</option>
										<option value="3" class="form-option">02</option>
										<option value="4" class="form-option">03</option>
										<option value="5" class="form-option">04</option>
										<option value="6" class="form-option">05</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select name="" id="" class="form-select" required="required">
										<option value="1" class="form-option">Month</option>
										<option value="2" class="form-option">January</option>
										<option value="3" class="form-option">February</option>
										<option value="4" class="form-option">March</option>
										<option value="5" class="form-option">April</option>
										<option value="6" class="form-option">May</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select name="" id="" class="form-select" required="required">
										<option value="1" class="form-option">Year</option>
										<option value="2" class="form-option">2000</option>
										<option value="3" class="form-option">2000</option>
										<option value="4" class="form-option">2000</option>
										<option value="5" class="form-option">2000</option>
										<option value="6" class="form-option">2000</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<label for="country" class="form-label">Country</label>
							<select name="" id="country" class="form-select" required="required">
								<option value="1" class="form-option">The Netherlands</option>
								<option value="2" class="form-option">Belgium</option>
								<option value="3" class="form-option">France</option>
								<option value="4" class="form-option">Italy</option>
								<option value="5" class="form-option">India</option>
								<option value="6" class="form-option">United Kingdom</option>
							</select>
						</div>
						<div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
							<label for="" class="form-label form-label--empty">&nbsp;</label>
							<input type="submit" value="Confirm" class="button button--primary button--block">
						</div>
					</div>
				<!--<div class="row">
					<div class="col-sm-6 col-sm-offset-3 ticket-form-submit text-center">
						<input type="submit" value="Confirm and proceed" class="button button--primary button--block-mobile">
					</div>
				</div>-->
			</fieldset>
		</form>

	</div>
</section>

