<div class="hotel-item-list">
	<div class="clearfix">
		<div class="col-sm-5 col-md-4 col-lg-3 no-padding">
			<div class="hotel-item-list-price hotel-item-list-price--mobile">&euro; 229,- p.p.</div>
			<div class="ribbon"><div class="text"><span>Our pick</span></div></div>
			<div class="img-container img-ratio-1-1 xs-img-ratio-2-1">
				<a href="#"><img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/hotel.jpg" alt="" class="img-responsive lazyimage"></a>
			</div>
		</div>
		<div class="col-sm-7 col-md-8 col-lg-9">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-sm-12">
							<div class="hotel-item-list-content">
								<div class="title">Hilton Hotel</div>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<div class="hotel-item-list-content hotel-item-list-content--no-margin">
								<div class="intro">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="hotel-item-list-content hotel-item-list-content--no-margin">
								<ul class="facilities-list clearfix">
									<!--<li class="AICO">Air Conditioning</li>-->
									<li class="BRBF">Breakfast Buffet</li>
									<!--<li class="COBU">Computer Business Centre</li>-->
									<li class="CUEX">Currency Exchange</li>
									<!--<li class="EXCK">Express Check in/Check out</li>-->
									<li class="FD24">Front Desk 24/7</li>
									<li class="INWI">Wi/Fi Wireless LAN</li>
									<!--<li class="MEFA">Meeting Facilities/Conference</li>
									<li class="PARK">Parking</li>
									<li class="ROSE">Room Service</li>
									<li class="RTNT">Restaurant</li>
									<li class="SAFD">Safety Deposit Box</li>-->
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="clearfix">
						<div class="hotel-item-list-price">&euro; 229,- p.p.</div>
						<a href="" class="button button--primary hotel-item-list-button">select hotel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>