<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<div class="fold-navigation">
						<button class="button button--prev">Back</button>
						<button class="button button--next">Next</button>
					</div>
					<h3 class="fold-h3">Your personal details</h3>
				</div>
			</div>
		</div>
		<form>
			<fieldset>
				<div class="row">
					<div class="col-sm-6">
						<label for="" class="form-label">First name</label>
					</div>
					<div class="col-sm-6">
						<input type="text" name="" id="" value="First name" placeholder="">
					</div>
				</div>
			</fieldset>
		</form>

	</div>
</section>

