<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<!--div class="fold-navigation">
						<button class="button button--prev button--nomargin">Back</button>
					</div>
					<h3 class="fold-h3">Check your entered information</h3-->
				</div>
			</div>
		</div>
		<div class="row line-height">
			<div class="col-md-5 col-sm-margin-30">
				<label class="form-label">Personal information</label>
				<div class="row">
					<div class="col-xs-5 col-sm-6 strong">First name:</div>
					<div class="col-xs-7 col-sm-6">Jurgen</div>
					<div class="col-xs-5 col-sm-6 strong">Last name:</div>
					<div class="col-xs-7 col-sm-6">van Zachten</div>
					<div class="col-xs-5 col-sm-6 strong">Email:</div>
					<div class="col-xs-7 col-sm-6">jurgen@thisisloco.com</div>
					<div class="col-xs-5 col-sm-6 strong">Phone number:</div>
					<div class="col-xs-7 col-sm-6">+31(0)646255387</div>
					<div class="col-xs-5 col-sm-6 strong">Address:</div>
					<div class="col-xs-7 col-sm-6">Ruysdaelhof Oost 9c</div>
					<div class="col-xs-5 col-sm-6 strong">Zipcode:</div>
					<div class="col-xs-7 col-sm-6">5642 JM</div>
					<div class="col-xs-5 col-sm-6 strong">City:</div>
					<div class="col-xs-7 col-sm-6">Eindhoven</div>
					<div class="col-xs-5 col-sm-6 strong">Date of birth:</div>
					<div class="col-xs-7 col-sm-6">01-03-1980</div>
					<div class="col-xs-5 col-sm-6 strong">Country:</div>
					<div class="col-xs-7 col-sm-6">The Netherlands</div>
				</div>
			</div>
			<div class="col-md-7">
				<label class="form-label">Your Booking</label>
				<div class="row">
					<div class="col-xs-12 col-sm-3 strong">Ticket:</div>
					<div class="col-xs-8 col-sm-5">2 x premium ticket</div>
					<div class="col-sm-4 text-right">&euro; 150,00</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section"></div></div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Hotel:</div>
					<div class="col-xs-8 col-sm-5">Ibis Amsterdam Airport</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Check in:</div>
					<div class="col-xs-8 col-sm-5">Thursday 24 nov</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Check out:</div>
					<div class="col-xs-8 col-sm-5">Monday 05 dec</div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Room 1:</div>
					<div class="col-xs-8 col-sm-5">Presidential Suite, 2 adults, 3 nights</div>
					<div class="col-xs-4 text-right">&euro; 2.667,50</div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Room 2:</div>
					<div class="col-xs-8 col-sm-5">Suite, rolstoeltoegankelijk, 2 adults, 3 nights</div>
					<div class="col-xs-4 text-right">&euro; 2.667,50</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section"></div></div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Customize:</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-xs-6 col-sm-6">Safari tour</div>
							<div class="col-xs-6 col-sm-6 text-right">&euro; 200,00</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6">Limousine transfer</div>
							<div class="col-xs-6 col-sm-6 text-right">&euro; 100,00</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section summary-section--total"></div></div>
				</div>
				<div class="row summary-total">
					<div class="col-xs-6 strong">Total price</div>
					<div class="col-xs-6 text-right strong">&euro; 2.667,50</div>
				</div>
				<form>
					<div class="row summary-agree">
						<div class="col-sm-12">
							<input type="checkbox" name="" id="conditions" value="" class="form-checkbox"><label for="conditions"><span></span></label>
							<p style="display: inline-block; max-width: 90%;">I agree with the <span class="conditions-link" data-method="toggle" data-target="page-conditions">general conditions</span></p>
							<p class="p">Na betaling ontvangt u van ons een bevestings-email</p>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-12">
						<h4 class="form-label m-t-30">Betaalmethode</h4>
						<form class="m-b-30 m-t-30">
							<fieldset>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-ideal.png" alt="iDEAL">
									<span class="method-name">iDEAL</span>
									<span class="method-price">Gratis</span>
								</label>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-paypal.png" alt="PayPal">
									<span class="method-name">PayPal</span>
									<span class="method-price">Gratis</span>
								</label>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-mastercard.png" alt="Mastercard">
									<span class="method-name">Mastercard</span>
									<span class="method-price">&euro; 3,50</span>
								</label>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-visa.png" alt="Visa">
									<span class="method-name">Visa</span>
									<span class="method-price">Gratis</span>
								</label>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-mistercash.png" alt="MrCash">
									<span class="method-name">MrCash</span>
									<span class="method-price">Gratis</span>
								</label>
								<label class="payment-method">
									<input id="" class="method-radio" name="payment_method" value="ideal" type="radio">
									<img class="method-img" src="assets/img/icon-payment-directebanking.png" alt="SOFORT Banking">
									<span class="method-name">SOFORT Banking</span>
									<span class="method-price">Gratis</span>
								</label>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-right"><a href=""class="button button--primary button--block-mobile">Make payment</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

