<nav class="my-pager">
    <ul class="my-pager-list">
        <li class="my-pager-item"><a href="" class="my-pager-link"><i class="fa fa-chevron-left"></i></a></li>
        <li class="my-pager-item"><a href="" class="my-pager-link my-pager-link--active">1</a></li>
        <li class="my-pager-item"><a href="" class="my-pager-link">2</a></li>
        <li class="my-pager-item"><a href="" class="my-pager-link">3</a></li>
        <li class="my-pager-item"><a href="" class="my-pager-link"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
</nav>