<div class="customize-item clearfix">
    <div class="col-sm-5 col-md-4 col-lg-3 no-padding">
        <div class="img-container img-ratio-1-1 xs-img-ratio-2-1">
        <img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/limo.jpg" alt="" class="img-responsive lazyimage">
        </div>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-md-8">
                <div class="hotel-item-list-content">
                    <div class="title">Transfer by limousine</div>
                    <ul class="list">
                        <li class="list-item">Official pre diner in the Amsterdam ArenA</li>
                        <li class="list-item">Great start of the night</li>
                        <li class="list-item">Good food, new friends great atmosphere</li>
                        <li class="list-item">Different international foodshops</li>
                        <li class="list-item">Early Amsterdam ArenA transfer at 18h30</li>
                        <li class="list-item">Starts at 19h00 till 21h00</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="clearfix">
                    <div class="hotel-item-list-price">&euro; 89,- p.p.</div>
                    <a href="" class="button button--primary hotel-item-list-button">select option</a>
                </div>
            </div>
        </div>
    </div>
</div>