<div class="hotel-details-room">
    <div class="row">
        <div class="col-sm-9">
            <div class="">
                <div class="room-title">Premier kamer, 1 kingsize bed, rolstoeltoegangelijk</div>
                <div class="room-details">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra nulla ut justo fermentum iaculis. Sed ut rutrum turpis. Curabitur rutrum lorem sed nulla interdum dignissim.
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="room-price">&euro; 289,- <span>(price per room)</span></div>
            {{!-- <div class="manage-rooms">
                <button class="manage-button minus"></button>
                <div class="amount">1</div>
                <button class="manage-button plus"></button>
            </div> --}}
            <a href="" role="button" class="button button--primary hotel-item-list-button">book room</a>
        </div>
    </div>
</div>