<div class="fold-description clearfix">
	<div class="fold-navigation">
		<button class="button button--prev">Back</button>
		<button class="button button--next">Next</button>
	</div>
	<h3 class="fold-h3">Your booking preferences</h3>
</div>


<form action="" method="" class="ticket-form">

	<div class="row">
		<div class="col-sm-12 col-md-1">
			<label for="" class="form-label">Persons</label>
			<div class="form-text-message">3</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Check in</label>
			<div class="form-text-message">Thursday 24-11-2015</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Check out</label>
			<div class="form-text-message">Monday 24-11-2015</div>
		</div>
		
		<div class="col-sm-6 col-md-1">
			<label for="" class="form-label">Rooms</label>
			<div class="form-text-message">2</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label class="form-label">Guests</label>
			<div class="form-wrapper form-wrapper--inline">
				<div class="form-text-message">Room 1: (2) Room 2: 2</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-2">
			<input type="submit" value="Change" class="button button--secondary button--block-mobile">
		</div>
	</div>

</form>