<div class="fold-description clearfix">
	<div class="fold-navigation">
		<button class="button button--prev">Back</button>
		<button class="button button--next">Next</button>
	</div>
	<h3 class="fold-h3">Your booking preferences</h3>
</div>


<form action="" method="" class="ticket-form">

	<div class="row">
		<div class="col-sm-12 col-md-2">
			<label for="" class="form-label">Persons</label>
			<div class="form-persons">
				<span>3</span>
			</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Check in</label>
			<div class="form-wrapper">
				<select name="" id="checkin" class="form-select" required="required">
					<option value="1" class="form-option">24-11-2015</option>
					<option value="2" class="form-option">24-11-2015</option>
					<option value="3" class="form-option">24-11-2015</option>
					<option value="4" class="form-option">24-11-2015</option>
					<option value="5" class="form-option">24-11-2015</option>
					<option value="6" class="form-option">24-11-2015</option>
				</select>
			</div>
			<div class="form-text-message">Some text goes here</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Check out</label>
			<div class="form-wrapper">
				<select name="" id="checkout" class="form-select" required="required">
					<option value="1" class="form-option">24-11-2015</option>
					<option value="2" class="form-option">24-11-2015</option>
					<option value="3" class="form-option">24-11-2015</option>
					<option value="4" class="form-option">24-11-2015</option>
					<option value="5" class="form-option">24-11-2015</option>
					<option value="6" class="form-option">24-11-2015</option>
				</select>
			</div>
			<div class="form-text-message">Some text goes here</div>
		</div>
		
		<div class="col-sm-6 col-md-2">
			<label for="" class="form-label">Rooms</label>
			<div class="form-wrapper">
				<select name="" id="rooms" class="form-select" required="required">
					<option value="1" class="form-option">2</option>
					<option value="2" class="form-option">3</option>
					<option value="3" class="form-option">4</option>
				</select>
			</div>
			<div class="form-text-message"></div>
		</div>
		<div class="col-sm-6 col-md-2">
			<label class="form-label">Guests</label>
			<div class="form-wrapper form-wrapper--inline">
				<label for="" class="form-label--small">Room 1</label>
				<select name="" id="checkout" class="form-select form-select--inline" required="required">
					<option value="1" class="form-option">1</option>
					<option value="1" class="form-option">2</option>
					<option value="1" class="form-option">3</option>
					<option value="1" class="form-option">4</option>
				</select>
			</div>
			<div class="form-wrapper form-wrapper--inline">
				<label for="" class="form-label--small">Room 2</label>
				<select name="" id="checkout" class="form-select form-select--inline" required="required">
					<option value="1" class="form-option">1</option>
					<option value="1" class="form-option">2</option>
					<option value="1" class="form-option">3</option>
					<option value="1" class="form-option">4</option>
				</select>
			</div>
		</div>
		<div class="col-sm-12 col-md-2 ticket-form-submit text-right">
			<input type="submit" value="Confirm" class="button button--primary button--block-mobile">
		</div>
	</div>

</form>