<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<h3 class="fold-h3">Select your tickets</h3>
				</div>
			</div>
		</div>
		<form action="" method="" class="">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-sm-margin-30 clearfix">
					<div class="form-col">
						<label for="" class="form-label">Package without ticket</label>
						<div class="row">
							<div class="col-xs-8">
								<div class="form-wrapper">
									<select name="" id="checkin" class="form-select" required="required">
										<option value="1" class="form-option">1 Ticket</option>
										<option value="2" class="form-option">2 Tickets</option>
										<option value="3" class="form-option">3 Tickets</option>
										<option value="4" class="form-option">4 Tickets</option>
										<option value="5" class="form-option">5 Tickets</option>
										<option value="6" class="form-option">6 Tickets</option>
									</select>
								</div>
							</div>
							<div class="col-xs-4 no-padding">
								<input type="submit" class="button button--primary button--submit" value="ok">
							</div>
						</div>
						<div class="more-info">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-sm-margin-30 clearfix">
					<div class="form-col">
						<label for="" class="form-label">Sensation entrance ticket</label>
						<div class="row">
							<div class="col-xs-8">
								<div class="form-wrapper">
									<select name="" id="checkin" class="form-select" required="required">
										<option value="1" class="form-option">1 Ticket</option>
										<option value="2" class="form-option">2 Tickets</option>
										<option value="3" class="form-option">3 Tickets</option>
										<option value="4" class="form-option">4 Tickets</option>
										<option value="5" class="form-option">5 Tickets</option>
										<option value="6" class="form-option">6 Tickets</option>
									</select>
								</div>
							</div>
							<div class="col-xs-4 no-padding">
								<input type="submit" class="button button--primary button--submit" value="ok">
							</div>
						</div>
						<div class="more-info">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-sm-margin-30 clearfix">
					<label for="" class="form-label">Deluxe entrance ticket</label>
					<div class="row">
						<div class="col-xs-8">
							<div class="form-wrapper">
								<select name="" id="checkin" class="form-select" required="required">
									<option value="1" class="form-option">1 Ticket</option>
									<option value="2" class="form-option">2 Tickets</option>
									<option value="3" class="form-option">3 Tickets</option>
									<option value="4" class="form-option">4 Tickets</option>
									<option value="5" class="form-option">5 Tickets</option>
									<option value="6" class="form-option">6 Tickets</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 no-padding">
							<input type="submit" class="button button--primary button--submit" value="ok">
						</div>
					</div>
					<div class="more-info">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					</div>
				</div>
			</div>
		</form>
	</div>
</section>