<div class="hotel-item-grid">
	<div class="ribbon"><div class="text"><span>Our pick</span></div></div>
	<div class="hotel-item-grid-price">&euro; 229,- <span>(price per night)</span></div>
	<div class="hotel-item-grid-wrapper">
		<div class="hotel-item-grid-image">
			<div class="img-container img-ratio-2-1">
				<img src="http://dummyimage.com/400x400/fff/fff.png" data-src="assets/img/hotel.jpg" alt="" class="img-responsive lazyimage">
				<div class="centered">
					<a href="#" class="button button--tertiary select-button">select hotel</a>
				</div>
			</div>
		</div>
		<div class="hotel-item-grid-content">
			<div class="title">Hilton Hotel</div>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
				<span>Distance to venue 5km</span>
			</div>
			<div class="intro">
				The 4-star Absolutum Boutique Hotel is a newly renovated and modern hotel situated in the heart of Prague.
				{{!-- <ul>
					<li>listitem</li>
					<li>listitem</li>
				</ul>
				<ol>
					<li>listitem</li>
					<li>listitem</li>
				</ol> --}}
			</div>
		</div>
	</div>
</div>