<!--{{> event-hero }}-->
<section class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{> partial-ticket-form }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="fold-h3">MYSTERYLAND SELECTED HOTELS</h3>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="switch-display clearfix">
                    <li class="display-options-map">a<img src="assets/img/list.svg"></li>
                    <li class="display-options-grid">a<img src="assets/img/list.svg"></li>
                    <li class="display-options-list active"><img src="assets/img/list.svg"></li>
                </ul> 
            </div>
        </div>
        <object data="assets/img/list.svg" type="image/svg+xml" width="40" class="testicon">
  <img src="yourfallback.jpg" />
</object>
        <img src="assets/img/list.svg" width="40" height="40">
        {{> partial-hotel-list-item }}
        {{> partial-hotel-list-item }}
        {{> partial-hotel-list-item }}
        {{> partial-hotel-list-item }}
        {{> partial-hotel-list-item }}
        {{> partial-hotel-list-item }}
        {{> partial-pager }}
    </div>
</section>