<section class="section section--grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fold-description clearfix">
					<!--div class="fold-navigation">
						<button class="button button--prev button--nomargin">Back</button>
					</div>
					<h3 class="fold-h3">Check your entered information</h3-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-margin-30">
				<label class="form-label">Personal information</label>
				<div class="row">
					<div class="col-xs-5 col-sm-6 strong">First name:</div>
					<div class="col-xs-7 col-sm-6">Jurgen</div>
					<div class="col-xs-5 col-sm-6 strong">last name:</div>
					<div class="col-xs-7 col-sm-6">van Zachten</div>
					<div class="col-xs-5 col-sm-6 strong">Email:</div>
					<div class="col-xs-7 col-sm-6">jurgen@thisisloco.com</div>
					<div class="col-xs-5 col-sm-6 strong">Phonenumber:</div>
					<div class="col-xs-7 col-sm-6">+31(0)646255387</div>

					<div class="col-xs-5 col-sm-6 strong">Address:</div>
					<div class="col-xs-7 col-sm-6">Ruysdaelhof Oost 9c</div>
					<div class="col-xs-5 col-sm-6 strong">Zipcode:</div>
					<div class="col-xs-7 col-sm-6">5642 JM</div>
					<div class="col-xs-5 col-sm-6 strong">City:</div>
					<div class="col-xs-7 col-sm-6">Eindhoven</div>
					<div class="col-xs-5 col-sm-6 strong">Date of birth:</div>
					<div class="col-xs-7 col-sm-6">01-03-1980</div>
					<div class="col-xs-5 col-sm-6 strong">Country:</div>
					<div class="col-xs-7 col-sm-6">The Netherlands</div>
				</div>
			</div>
			<div class="col-md-7">
				<label class="form-label">Your Booking</label>
				<div class="row">
					<div class="col-xs-12 col-sm-3 strong">Ticket:</div>
					<div class="col-xs-8 col-sm-5">2 x premium ticket</div>
					<div class="col-sm-4 text-right">&euro; 150,00</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section"></div></div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Hotel:</div>
					<div class="col-xs-8 col-sm-5">Ibis Amsterdam Airport</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Check in:</div>
					<div class="col-xs-8 col-sm-5">Thursday 24 nov</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 strong">Check out:</div>
					<div class="col-xs-8 col-sm-5">Monday 05 dec</div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Room 1:</div>
					<div class="col-xs-8 col-sm-5">Presidential Suite, 2 adults, 3 nights</div>
					<div class="col-xs-4 text-right">&euro; 2.667,50</div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Room 2:</div>
					<div class="col-xs-8 col-sm-5">Suite, rolstoeltoegankelijk, 2 adults, 3 nights</div>
					<div class="col-xs-4 text-right">&euro; 2.667,50</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section"></div></div>
				</div>
				<div class="row">
					<div class="col-sm-3 strong">Customize:</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-xs-6 col-sm-6">Safari tour</div>
							<div class="col-xs-6 col-sm-6 text-right">&euro; 200,00</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6">Limousine transfer</div>
							<div class="col-xs-6 col-sm-6 text-right">&euro; 100,00</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><div class="summary-section summary-section--total"></div></div>
				</div>
				<div class="row summary-total">
					<div class="col-xs-6 strong">Total price</div>
					<div class="col-xs-6 text-right strong">&euro; 2.667,50</div>
				</div>
				<form>
					<div class="row summary-agree">
						<div class="col-sm-6">
							<input type="checkbox" name="" id="conditions" value="" class="form-checkbox"><label for="conditions"><span></span>I agree with the general conditions</label>
						</div>
						<div class="col-sm-6 text-right">
							<a href=""class="button button--primary button--block-mobile">Make payment</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

