<section class="section section--grey">
	<div class="container">
		{{> partial-customize-item }}
		{{> partial-customize-item }}
		{{> partial-customize-item }}

		<div class="row">
			<div class="col-sm-12 text-right">
				<button class="button button--prev">Back</button>
				<button class="button button--next">Next</button>
			</div>
		</div>
	</div>
</section>

