<section class="event-hero event-hero--slider">

	<!-- slider -->
	<div class="ea-detail-slider text-center">
		<div id="layerslider" class="layerslider" style="width:100%; height:100%;">     
			{{!-- <div class="ls-layer">
				<div class="ls-s2 video-wrapper">
					<iframe src="https://player.vimeo.com/video/156411459?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0&wmode=opaque" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			</div> --}}

			<div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
				<img src="{{assets}}/img/amf/slide1.jpg" class="ls-bg" alt="">
				<h1 class="ls-l ea-offer-bigtext" style="top: 45%;" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">We own the night<small>20 october  2018</small></h1>
			</div>

			{{!-- <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
				<img src="{{assets}}/img/slide2.jpg" class="ls-bg" alt="">
				<h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:200;durationout:1000;">Text goes here<small>Effect no.3</small></h1>
			</div> --}}

		</div>
	</div>
	<!-- end slider -->

	<!-- Buttons -->
	<div class="event-hero-buttons">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 text-center">
					<a href="" class="button button--outline button--hero">Regular <span>Packages</span></a>
					<a href="" class="button button--outline button--hero">Premium <span>Packages</span></a>
				</div>
			</div>
		</div>
	</div>
</section>