<div class="usp-slider" style="background-image: url({{assets}}/img/asot2019/usp-hero.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center">
				<img src="{{assets}}/img/asot2019/asot-logo-hero.png" alt="" class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
				<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">A State of Tance <span>Travel Packages</span></h2>
				<p class="usp-slider-p wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">February 23 2019, Jaarbeurs Utrecht</p>
				<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Full experience<br />packages</a>
				<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Ticket + Hotel<br />Hotel Only</a>

				
				<ul>
					<li class="wow bounceIn" data-wow-duration="1s"><i class="fa fa-plus-circle" aria-hidden="true"></i>Exclusive ASOT hotel deals in Utrecht & Amsterdam</li>
					<li class="wow bounceIn" data-wow-duration="1s"><i class="fa fa-plus-circle" aria-hidden="true"></i>All transfers to ASOT and back to your hotel</li>
					<li class="wow bounceIn" data-wow-duration="1s"><i class="fa fa-plus-circle" aria-hidden="true"></i>Free ASOT2019 merchandise gift</li>
				</ul>
				
			</div>
			<div class="col-md-4">	
			</div>
		</div>
	</div>
</div>