<div class="usp-slider" style="background-image: url({{assets}}/img/sensation/usp-hero.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h2>Sensation is coming to madrid</h2>
				<p class="usp-slider-p">On november 3 2018, the world's leading dance event will journey to spain!</p>
				<div>
					<a href="#" class="button button--outline button--hero">Sensation Hotels</a>
				</div>
			</div>
		</div>
	</div>
</div>

