<div class="usp-slider" style="background-image: url({{assets}}/img/amf/slide1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<img src="{{assets}}/img/amf/logo-amf.png" alt="" class="">
				<h2 class="">Amsterdam Music Festival Travel&nbsp;Packages</span></h2>
				<p class="usp-slider-p">20 October 2018, Amsterdam ArenA</p>
				<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Full experience<br />packages</a>
				<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Ticket + Hotel<br />Hotel Only</a>
				{{!-- <ul>
					<li><i class="fa fa-plus-circle" aria-hidden="true"></i>Transfer to AMF and back to your hotel</li>
					<li><i class="fa fa-plus-circle" aria-hidden="true"></i>Exclusive AMF traveller entrance</li>
					<li><i class="fa fa-plus-circle" aria-hidden="true"></i>Free official AMF merchandise gift</li>
					
				</ul> --}}
			</div>
			<div class="col-md-4">	
			</div>
		</div>
	</div>
</div>