<div class="usp-slider" style="background-image: url({{assets}}/img/amf/slide1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center">
				<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">Amsterdam Music Festival Travel&nbsp;Packages</h2>
				<p class="usp-slider-p wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">19-21 October 2018 Amsterdam Arena</p>
				<a href="#" class="button button--primary wow fadeIn"  data-wow-duration=".5s" data-wow-delay=".7s">AMF Hotel</a>
				<a href="#" class="button button--primary wow fadeIn"  data-wow-duration=".5s" data-wow-delay=".7s">Ticket + Hotel</a>
			</div>
			<div class="col-md-4">
				<ul>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay=".7s"><div>AMF Dinner party</div></li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay=".9s"><div>Transfer to AMF</div></li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1.1s"><div>AMF Entrance tickets</div></li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1.3s"><div>AMF Bathrobe</div></li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1.5s"><div>Breakfast</div></li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1.7s"><div>Late checkout</div></li>
				</ul>
				
				
				
				
				
				
			</div>
		</div>
	</div>
</div>