<div class="usp-slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<img src="assets/img/ml2018/ML18_artwork_landscape.png" class="img-responsive xs-hide wow fadeIn" data-wow-duration="1s">
				<img src="assets/img/ml2018/ML18_websitemobile-01.png" class="img-responsive xs-show wow fadeIn" data-wow-duration="1s">
			</div>
		</div>
		<div class="row text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
			<div class="col-sm-12 text-center">
				<div class="cherry"></div>
				<h3>Free Mysteryland transfers included!</h3>
				<a href="" class="button button--outline button--hero">View Packages</a>
				<div class="chain"></div>
			</div>
		</div>
	</div>
</div>

