<div class="usp-slider" style="background-image: url({{assets}}/img/electronicfamily/ef-usp-hero.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center">
				<img src="{{assets}}/img/electronicfamily/hero-logo.png" alt="" class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
				<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">Travel Packages</h2>
				<div>
					<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Full experience<br />package</a>
					<a href="#" class="button button--outline button--hero wow fadeIn"  data-wow-duration=".5s" data-wow-delay="1.7s">Ticket + Hotel<br />Hotel Only</a>
				</div>
				<ul>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="2s"><i class="fa fa-plus-circle" aria-hidden="true"></i>Official Electronic Family welcome gift</li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="2.5s"><i class="fa fa-plus-circle" aria-hidden="true"></i>Transfer to Electronic Family and back to hotel</li>
					<li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="3s"><i class="fa fa-plus-circle" aria-hidden="true"></i>The best the best possible hotel rates</li>
				</ul>
			</div>
			<div class="col-md-4">	
			</div>
		</div>
	</div>
</div>