.has-dropdown{
	position: relative;
}

.section-flights{
	color: #000;
	background: none;
	background: #fefefe !important;
	padding: 60px 0;
}

.flights-traject{
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 30px;
	display: table;
	width: 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

	& .flight{
		// padding-right: 50px;
		position: relative;
		display: table-cell;
		width: 33%;
		padding-right: 120px;

		@media all and (max-width: $breakpoint-tablet){
			display: block;
			width: 100%;
			padding: 0 0 0 60px;
			margin-bottom: 20px;

			&:last-child{
				margin-bottom: 0px;
			}
		}
	}

	& .heading{
		color: $flights-color-2;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 5px;

		@media all and (max-width: $breakpoint-tablet){
			font-size: 13px;
		}
	}

	& .date{
		font-size: 13px;
	}

	& .seperator{
		position: absolute;
		right: 20px;
		top: 50%;
		height: 50px;
		width: 100px;
		-ms-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);

		@media all and (max-width: $breakpoint-tablet){
			right: auto;
			left: 0px;
			width: 50px;
		}

		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background-color: #95a5a6;
			display: block;
			position: absolute;
			top: 50%;
			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);

			@media all and (max-width: $breakpoint-tablet){
				width: 1px;
				height: 100%;
				left: 50%;
			}
		}

		& .icon{
			position: absolute;
			font-size: 27px;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			color: #95a5a6;

			@media all and (max-width: $breakpoint-tablet){
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

			& span{
				-ms-transform: rotate(90deg); /* IE 9 */
				-webkit-transform: rotate(90deg); /* Safari */
				transform: rotate(90deg);
				line-height: 1;
				display: block;
				top: -1px;

				@media all and (max-width: $breakpoint-tablet){
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Safari */
					transform: rotate(180deg);

					left: 2px;
				}
			}

			
		}

		// & .icon:before{
		// 	content: "\f072";
		// 	font-family: "FontAwesome";
		// 	color: $border-color;
		// 	line-height: 0;
		// }
	}
}

.flights-dropdown{
	position: absolute;
	top: 45px;
	z-index: 100;
	width: 100%;
	background: #fff;
	border-style: solid;
	border-width: 0 1px 0px 1px;
	border-color: #ccc;

	& li{
		list-style-type: none;
		padding: 10px;
		border-bottom: 1px solid #ccc;
		cursor: pointer;

		&:hover{
			color: #fff;
			background-color: $flights-color-2;
		}
	}
}

.flights-searching{
	text-align: center;
	min-height: 400px;
	position: relative;

	@media all and (max-width: $breakpoint-mobile){
		min-height: 300px;
	}	

	& .heading{
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 15px;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 20px;
		}
	}

	& .data{
		font-size: 16px;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 12px;
		}

		& p{
			margin-bottom: 5px;
		}

		& span{
			color: #7f8c8d;
			margin: 0 5px;
		}
	}

	& .loader{
		// background: transparent url(https://media.tix.nl/loader_white_bg_48.gif) no-repeat center center;
		// background-size: cover;
		// width: 50px;
		// height: 50px;
		// display: inline-block;
		// margin-top: 15px;
		width: 60px;
		height: 60px;
		position: relative;
		overflow: hidden;
		background-color: #000;
		display: inline-block;
		margin-top: 30px;

		@media all and (max-width: $breakpoint-mobile){
			width: 40px;
			height: 40px;
		}

		&-mask{
			background: transparent url(../img/loader-mask.png) no-repeat center center;
			background-size: cover;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		&-circle{
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			

			width: 1px;
			height: 1px;
			background-color: $flights-color-2;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;

			-webkit-transition: all 0.2s ease-out 0s;
			-moz-transition: all 0.2s ease-out 0s;
			-o-transition: all 0.2s ease-out 0s;
			transition: all 0.2s ease-out 0s;

			-webkit-animation: CIRCLE 1.2s infinite; /* Safari 4+ */
			-moz-animation:    CIRCLE 1.2s infinite; /* Fx 5+ */
			-o-animation:      CIRCLE 1.2s infinite; /* Opera 12+ */
			animation:         CIRCLE 1.2s infinite; /* IE 10+, Fx 29+ */

			transform-origin: 50% 50%;
		}
	}
}

@-webkit-keyframes CIRCLE {
  0%   { transform: scale(1, 1); }
	100% { transform: scale(70, 70); }
}
@-moz-keyframes CIRCLE {
  0%   { transform: scale(1, 1); }
	100% { transform: scale(70, 70); }
}
@-o-keyframes CIRCLE {
  0%   { transform: scale(1, 1); }
	100% { transform: scale(70, 70); }
}
@keyframes CIRCLE {
	0%   { transform: scale(1, 1); }
	100% { transform: scale(70, 70); }
}

.flights-feature{
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 20px 20px 20px 65px;
	margin-bottom: 15px;
	position: relative;
	font-size: 15px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

	& .readmore{
		color: $flights-color-2 !important;
	}


	&:before{
		font-family: FontAwesome;
		display: block;
		position: absolute;
		font-size: 36px;
		left: 20px;
		top: 20px;
		color: $flights-color-2;
	}

	&--price:before{
		content: "\f153";
	}

	&--time:before{
		content: "\f017";
	}



	& .name{
		font-size: 18px;
		font-weight: bold;
	}

	& span{
		font-weight: bold;
		display: inline-block;
		margin-left: 20px;
	}
}

.flights-item{
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 10px 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;

	& .operator{
		border-bottom: 1px solid #ddd;
		position: relative;
		padding: 10px 0;

		&-logo{
			width: 130px;
			float: left;

			@media all and (max-width: $breakpoint-mobile){
				width: 100px;
			}
		}

		& .cabinclass{
			font-size: 11px;
			background-color: $flights-color-1;
			display: inline-block;
			color: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			padding: 10px;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-transform: uppercase;

			@media all and (max-width: $breakpoint-mobile){
				// padding: 5px;
				font-size: 10px;
				left: auto;
				right: 0;
				-ms-transform: translate(0%, -50%);
				-webkit-transform: translate(0%, -50%);
				transform: translate(0%, -50%);
			}
		}
	}

	& .booking{
		color: $flights-color-1;
		padding: 10px 0 0 0;
	}

	& .fare{
		color: #90bc3c;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 5px;
	}



	& .bagage{
		margin-top: 15px;
		font-size: 11px;

		& i{
			font-size: 26px;
			margin-bottom: 5px;
			display: block;
		}
	}

	& table{
		width: 100%;
		padding: 0;
		border: 0;
		margin: 10px 0 30px;

		@media all and (max-width: $breakpoint-mobile){
			margin-bottom: 10px;
		}


		& tr{
			cursor: pointer;
		}

		& th{
			font-weight: bold;
			vertical-align: middle;
			text-align: left;
			padding: 5px 5px 10px;
			font-size: 13px;

			@media all and (max-width: $breakpoint-mobile){
				display: none;

				&.date{
					display: table-cell;
					width: 100%;
				}
			}

			& i{
				margin-right: 15px;
				font-size: 15px;
			}

			& span{
				color: $flights-color-2;
				font-size: 16px;
			}
		}

		& td{
			width: auto;
			vertical-align: middle;
			padding: 5px;
			font-size: 13px;

			&.departure-time, &.arrival-time{
				font-size: 15px;
			}

			@media all and (max-width: $breakpoint-mobile){
				vertical-align: top;
			}

			&.mobile-radio{
				width: 10% !important;
			}
			&.mobile-label{
				display: none;
				font-size: 12px;

				@media all and (max-width: $breakpoint-mobile){
					display: table-cell;
				}
			}
		}

		& .info{
			
			// color: $flights-color-2;

			& a{
				background: none;
				border: none;
				font-size: 16px;
				color: $flights-color-2;
			}
		}

		& .flights-radio{
			margin: 0 10px 0 0;
			display: inline-block;
		}

		& tbody tr:hover{
			background-color: #f1f1f1;
		}

		& tbody tr:nth-child(odd){
			background-color: #f1f1f1;
		}


	}
}

.flights-filter{

	& li{
		list-style-type: none;
		font-size: 13px;

		& label{
			font-weight: normal;
			cursor: pointer;
			display: block;
		}

		& .pull-right{
			float: right;
			display: inline-block;
		}
	}

	& .panel-heading{
		cursor: pointer;
		font-weight: bold;
		font-size: 13px;

		& .toggle-panel{

			float: right;

			&:before{
				content: "\f0d8";
				font-family: "FontAwesome";
				display: block;
				color: #000;
			}
		}

		&.collapsed .toggle-panel:before{
			content: "\f0d7";
		}
	}

	input[type="checkbox"] {
		display:inline-block;
		vertical-align: baseline;
		margin-right: 5px;
	}
}

.button-flights{
	background-color: $flights-color-2 !important;
	border-color: $flights-color-2 !important;
	color: #fff;

	&:hover{
		color: #fff !important;
		background-color: $flights-color-2-hover !important;
		border-color: $flights-color-2-hover !important;
	}
}

.flight-popover{
	margin: 0 !important;
	background: #fff;

	& tr{
		background: #fff !important;
	}
	& td{
		padding: 5px 0 !important;
		font-size: 12px !important;
		white-space: nowrap;

		&.first{
			padding-right: 20px !important;
			font-weight: bold;
			color: $flights-color-2;
		}
	}
}

select::-ms-expand { display: none !important; }