.event-registration-form{

}

.form-field-wrapper{
	position: relative;
}

.event-registration-form-field{
	border: 3px solid #fff;
	background-color: rgba(0,0,0,0.4);
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	padding: 20px;
	width: 100%;
	z-index: 1;
	cursor: default;
	-webkit-appearance: none;
	border-radius: 0px;

	&:focus{
		background-color: #000;
	}

	&::-webkit-input-placeholder{
		color: #fff;
		opacity: 1;
	}

	&::-moz-placeholder { /* Firefox 18- */
		color: #fff;
		opacity: 1;
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 18px;
		padding: 15px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
		padding: 10px;
	}
}

.event-registration-form-submit{
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 2;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	padding: 20px;
	border-left: 3px solid #fff;
	-webkit-appearance: none;
	border-radius: 0px;

	&:hover{
		background-color: #fff;
		color: #000;
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 18px;
		padding: 15px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
		padding: 10px;
	}
}

.ticket-form{
	border-bottom: 1px solid $border-color;
	margin: 0 0 30px;
	padding: 0 0 30px;
}

.form-col{
	border-right: 1px solid #cbcbcb;
	@media all and (max-width: $breakpoint-tablet){
		min-height: 0px;
		border-right: none;
	}
}


// FORM ELEMENTS

.form-label{
	display: block;
	text-transform: uppercase;
	color: $primary-text-color;
	font-weight: 700;
	font-size: 15px;

	&--small{
		display: inline-block;
		font-size: 13px;
		text-transform: uppercase;
		margin-right: 10px;
	}

	&--error{
		color: $secondary-link-color;
	}
}
.form-error-list{
	background-color: $secondary-link-color;
	color: #fff;
	border: 1px solid $secondary-link-color;
	padding: 10px 15px;
	margin-bottom: 30px;

	& li{
		list-style-type: none;
		margin-bottom: 5px;
		font-size: 15px;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			display: inline-block;
			content: "\f071";
			font-family: "FontAwesome";
			color: #fff;
			margin-right: 10px;
			line-height: 1;
		}
	}
}

.form-field{
	display: block;
	width: 100%;
	height: 45px;
	outline: none!important;
	border: 1px solid #fff;
	background-color: $select-bg-color;
	padding: 10px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance:none;
	margin-bottom: 10px;
	cursor: default;
	color: #666;
	-webkit-appearance: none;
	border-radius: 0;

	&:focus{
		-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.3);
	}

	&--error{
		background-color: $secondary-link-color;
		border-color: $secondary-link-color;
		color: #fff;
	}

	&--ok{
		border-color: #58d68d;
		background-color: #eafaf1;
	}

	&--no-ok{
		border-color: #e35773;
		background-color: #fbeaed;
	}
}
.form-personal-info .form-field{
	margin-bottom: 20px;
	padding-left: 15px;
}
.ticket-form-submit{
	padding-top: 28px;
}

.form-persons{
	color: #000;
	margin: 16px 0 0;

	@media all and(max-width: $breakpoint-tablet){
		margin-top: 0;
		margin-bottom: 15px;
	}

	& span{
		display: inline-block;
		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
	}

	&:before{
		content: "\f0f2";
		font-family: "FontAwesome";
		font-size: 24px;
		color: #000;
		margin-right: 4px;
		display: inline-block;
		line-height: 20px;
	}
}

.form-wrapper{

	&--inline{
		@media all and(max-width: $breakpoint-tablet){
			display: inline;
			margin-right: 10px;
		}
	}
}

.form-number{
	width: 60px;
	display: inline-block;
}


.form-select{
	display: block;
	width: 100%;
	height: 45px;
	outline: none!important;
	border: 1px solid #fff;
	color: rgba(0,0,0,0);
	background-color: $select-bg-color;
	padding: 8px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance:none;
	background: #fff url(../img/form-select-bg.png) no-repeat right center;
	margin-bottom: 8px;
	cursor: pointer;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #666;
	border-radius: 0;

	&:focus{
		-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.3);
	}

	&--inline{
		display: inline-block;
		width: auto;
		min-width: 60px;
		margin-right: 4px;
	}

	&--error{
		background-color: $secondary-link-color;
		border-color: $secondary-link-color;
		color: #fff;

		& option{
			color: #fff;
		}
	}

	&--ok{
		border-color: #58d68d;
		background-color: #eafaf1;
	}

	&--no-ok{
		border-color: #e35773;
		background-color: #fbeaed;
	}
}

.form-personal-info .form-select{
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + label span {
	display:inline-block;
	width:26px;
	height:26px;
	background:url(../img/check_radio_sheet.png) left top no-repeat;
	cursor: pointer;
	vertical-align: middle;
	margin: -2px 10px 0 0;
}

input[type="checkbox"]:checked + label span {
	background:url(../img/check_radio_sheet.png) -26px top no-repeat;
}
.form-text-message{
	margin-bottom: 15px;
}

.form-option{
	color: #666;
	text-shadow: none;
	padding: 3px 8px 3px 16px;

	&:focus{
		background-color: #000;
	}
}