.event-registration-form{

}

.form-field-wrapper{
	position: relative;
}

.event-registration-form-field{
	border: 3px solid #fff;
	background-color: rgba(0,0,0,0.4);
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	padding: 20px;
	width: 100%;
	z-index: 1;
	cursor: default;

	&:focus{
		background-color: #000;
	}

	&::-webkit-input-placeholder{
		color: #fff;
		opacity: 1;
	}

	&::-moz-placeholder { /* Firefox 18- */
		color: #fff;
		opacity: 1;
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 18px;
		padding: 15px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
		padding: 10px;
	}
}

.event-registration-form-submit{
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 2;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	padding: 20px;
	border-left: 3px solid #fff;

	&:hover{
		background-color: #fff;
		color: #000;
	}

	@media all and (max-width: $breakpoint-tablet){
		font-size: 18px;
		padding: 15px;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 13px;
		padding: 10px;
	}
}