.header{
	background-color: #fff;
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	@media all and (max-width: $breakpoint-mobile){
		height: $header-height-mobile;
	}
}

.header-logo{
	float: left;
	width: $logo-width;
	height: $logo-height;
	background: transparent url(../img/#{$theme-folder}/logo.png) no-repeat 0 0 scroll;
	background-size: $logo-width;
	margin-top: 15px;
	display: block;
	@media all and (max-width: $breakpoint-mobile){
		width: $logo-width-mobile;
		background-size: $logo-width-mobile;
		margin-top: 5px;
		margin: 5px auto;
		float: none;
	}
}

.header-menu{
	@media all and (max-width: $breakpoint-mobile){
		display: none;
	}
}

.header-menu-list{
	float: right;
	border-right: 1px solid $header-border-color;
}

.header-menu-item{
	list-style-type: none;
	float: left;
	border-left: 1px solid $header-border-color;
	line-height: $header-height;
}

.header-menu-link{
	display: block;
	padding: 0 40px;
	color: $header-link-color;
	font-family: $secondary-font;
	font-size: $header-link-size;
	font-weight: normal;

	&:hover{
		color: $header-hover-color;
	}
}

.hero{
	background-color: $hero-bg-color;
	color: $hero-color;
	padding: 50px 0;
	font-family: $secondary-font;

	& .hero-h1{
		font-size: $hero-size;
		line-height: 1;
		@media all and (max-width: $breakpoint-mobile){
			font-size: $hero-size-mobile;
		}
	}
}