.header{
	background-color: #fff;
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	@media all and (max-width: $breakpoint-mobile){
		height: $header-height-mobile;
	}
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

.header-logo{
	float: left;
	width: $logo-width;
	height: $logo-height;
	background: transparent url(../img/#{$theme-folder}/logo.png) no-repeat 0 0 scroll;
	background-size: $logo-width;
	margin-top: 15px;
	display: block;
	@media all and (max-width: $breakpoint-mobile){
		width: $logo-width-mobile;
		background-size: $logo-width-mobile;
		margin-top: 5px;
		margin: 5px auto;
		float: none;
	}
}

.header-menu{
	@media all and (max-width: $breakpoint-mobile){
		display: none;
	}
}

.header-menu-list{
	float: right;
	/*border-right: 1px solid $header-border-color;*/
}

.header-menu-item{
	list-style-type: none;
	float: left;
	/*border-left: 1px solid $header-border-color;*/
	line-height: $header-height;
}

.header-menu-link{
	display: block;
	margin-left: 40px;
	color: $header-link-color;
	font-family: $secondary-font;
	font-size: $header-link-size;
	font-weight: normal;
	cursor: pointer;
	-webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;

	&:hover{
		color: $header-hover-color;
	}
}

.hero{
	background-color: $hero-bg-color;
	color: $hero-color;
	padding: 50px 0;
	font-family: $secondary-font;

	& .hero-h1{
		font-size: $hero-size;
		line-height: 1;
		@media all and (max-width: $breakpoint-mobile){
			font-size: $hero-size-mobile;
		}
	}
}

.cart-total{
	display: inline-block;
	float: right;
	margin-left: 20px;
	position: relative;


	&:after{
		content: "\f07a";
		font-family: "FontAwesome";
		display: inline-block;
		font-weight: normal;
		font-size: 18px;
		border-left: 1px solid $header-border-color;
		padding-left: 15px;
		margin-left: 15px;
		line-height: 40px;
		position: relative;
		top: -3px;
	}
}

.cart{
	position: absolute;
	top: $header-height;
	width: 320px;
	right: 15px;
	z-index: 998;
	background-color: #fff;
	padding: 20px;
	line-height: 1.4;
	border: 1px solid $header-border-color;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.1);
	right: -500px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.cart-open{
	right: 15px;
}

.close-cart{
	
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	color: $secondary-link-color;

	&:hover{
		color: $primary-link-color;
	}

	&:before{
		content: "\f00d";
		font-family: "FontAwesome";
		margin-right: 5px;
	}

}

.cart-section{
	border-top: 1px solid $header-border-color;
	padding: 15px 0 15px;

	& strong{
		font-weight: 900;
	}

	&--noborder{
		border-top: none;
		padding-top: 0;
	}
}

.cart-total-price{
	font-weight: 700;
	border-top: 2px solid #000;
	padding-top: 10px;
	font-size: 17px;
	text-transform: uppercase;
}