.event-hero{
	height: 100%;
	background: $body-bg-color url(../img/#{$theme-folder}/hero.jpg) no-repeat center center scroll;
	background-size: cover;
	text-align: center;
	min-height: 300px;
	padding: 30px 0;
	position: relative;

	&--slider{
		background: none;
	}

	&:before{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		background: rgba(50,50,50,.2);
		content: "";
	}


	& h1{
		color: #fff;
		font-family: $tertiary-font;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 80px;
		text-shadow: 2px 2px 5px rgba(50,50,50,.2);
		margin-bottom: 40px;

		& small{
			font-family: $primary-font;
			display: block;
			color: #fff;
			font-weight: 700;
			margin-top: 5px;
			font-size: 50%;
		}

		@media all and (max-width: $breakpoint-tablet){
			font-size: 60px;
		}
		@media all and (max-width: $breakpoint-mobile){
			font-size: 24px;
		}
	}
}

.booking-hero{
	height: 100%; 
	background: $body-bg-color url(../img/#{$theme-folder}/hero.jpg) no-repeat top center fixed;
	background-size: cover;
	text-align: center;
	min-height: 300px;
	padding: 30px 0;
	position: relative;
}
.event-hero-content{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
}
.event-hero-buttons{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 11;
	width: 100%;
	bottom: 30%;
	@media all and (max-width: $breakpoint-tablet){
		bottom: 20px;
	}
}
.ea-detail-slider {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
}

.video-responsive {
	height: 50%;
	// padding-bottom: 56%;
	position: relative;
	background: red;
}

.canvas,
.video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	background: #000;
	z-index: 5;
	// display: none;
}

#over_video{
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 10;
	font-size: 12vw;
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-shadow: 4px 4px 4px #5C433B;
}