.img-container{
	background-color: #000;
	height: 0;
	overflow: hidden;
	position: relative;
	display: block;

	& img, & iframe{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		width: 100%;
		/*height: 100%;*/
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
	}
}

.location-visual-wrapper:hover img{
	opacity: 0.5;
	-ms-transform: scale(1.2,1.2) rotate(-2deg);
	-webkit-transform: scale(1.2,1.2) rotate(-2deg);
	transform: scale(1.2,1.2) rotate(-2deg);
}

.lazyimage{
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in 0s;
	-moz-transition: opacity 0.2s ease-in 0s;
	-o-transition: opacity 0.2s ease-in 0s;
}

.img-responsive{
	width: 100%;
}
.img-ratio-1-1{
	padding-bottom: 100%; /* 1:4*100 */
}
.img-ratio-2-1{
	padding-bottom: 50%; /* 1:4*100 */
}
.img-ratio-5-1{
	padding-bottom: 20%; /* 1:4*100 */
}
.img-ratio-5-2{
	padding-bottom: 40%; /* 1:4*100 */
}
.img-ratio-4-3{
	padding-bottom: 75%; /* 3:4*100 */
}
.img-ratio-16-9{
	padding-bottom: 56.25%; /* 16:9*100 */
}

@media all and(max-width: $breakpoint-mobile){
	.xs-img-ratio-2-1{
		padding-bottom: 50%; /* 1:4*100 */
	}
}

#loading-data{
	position: absolute;
	z-index: 99;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
svg {
	display: block;
	position: absolute;
	top: 10%;
	left: 50%;
	-ms-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#loader 
{
	fill: #fff;
	fill-opacity: 0.5;
}

#border 
{
	fill: #485b6e;
	fill-opacity: 0.5;
}