html, body{
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}

body{
	background-color: $body-bg-color;
	height: 100%;
}
.overflow{

}
.content-wrapper{
	/*margin-top: $header-height;*/
	position: relative;
	top: $header-height;
	height: calc(100% - #{$header-height}); 

	@media all and (max-width: $breakpoint-mobile){
		top: $header-height-mobile;
		height: calc(100% - #{$header-height-mobile});
	}
}

.no-padding{
	padding: 0px;
}

.section{
	background-color: $section-bg-color;
	padding: 0 0 60px;
	overflow: hidden;

	@media all and (max-width: $breakpoint-mobile){
		padding: 0 0 30px;
	}

	&--grey{
		background-color: #f1f1f1;
	}

	&--white{
		background-color: #fff;
	}

	&--theme{
		background-color: $secondary-link-color;
		color: #fff;

		& a{
			color: #fff;
		}

		& h1{
			border-color: #fff;
		}
	}
}

.plain{
	padding: 60px 0;
	@media all and (max-width: $breakpoint-mobile){
		padding: 30px 0;
	}
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-40{
	margin-top: 40px;
}

.vertical-align{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.table{
	display: table;
	width: 100%;
	height: 100%;
}

.location-visual-wrapper{
	position: relative;

	

	& .location-buttons{
		position: absolute;
		text-align: center;
		width: 100%;
		height: 100%;
		bottom: 0;
		top: 0;
		z-index: 2;
		padding: 15px;
		opacity: 0;
		text-align: center;
	}

	&:hover{
		& .location-buttons{
			opacity: 1;
		}
	}

	& .location-visual{
		position: relative;
		z-index: 1;
	}
}

.location-date{
	background-color: $date-bg-color;
	width: 100px;
	height: 100px;
	text-align: center;
	float: left;
	display: table;
	padding: 10px;
	color: $date-color;
	line-height: 1;
	font-family: $tertiary-font;

	& .day{
		font-weight: 700;
		font-size: 35px;
	}

	& .month{
		text-transform: uppercase;
		font-size: 20px;
	}
}

.location-content{
	background-color: $location-color;
}

.location-info{
	width: calc(100% - 100px);
	float: left;
	position: relative;
	display: table;
	height: 100px;
	padding: 15px;
}

.location-flag{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 36px;
	@media all and (max-width: $breakpoint-mobile){
		width: 35px;
		top: 0;
		right: 0;
	}
}
@media all and (max-width: $breakpoint-tablet){
	.col-sm-margin-30{
		margin-bottom: 30px;
	}
}
@media all and (max-width: $breakpoint-mobile){
	.col-xs-margin-30{
		margin-bottom: 30px;
	}
}


