@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(bootstrap.css);
html, body {
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  cursor: default; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  outline: none !important; }

h1, h2, h3, h4, small, p, ul, li, video, figure, figcaption {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 0px; }

a, a:visited, a:active {
  text-decoration: none; }

/* [data-sr] { 
    visibility: hidden; 
} */
@font-face {
  font-family: 'mysteryland_fontregular';
  src: url("../font/mysterylandfont-condensedregula-webfont.eot");
  src: url("../font/mysterylandfont-condensedregula-webfont.eot?#iefix") format("embedded-opentype"), url("../font/mysterylandfont-condensedregula-webfont.woff2") format("woff2"), url("../font/mysterylandfont-condensedregula-webfont.woff") format("woff"), url("../font/mysterylandfont-condensedregula-webfont.ttf") format("truetype"), url("../font/mysterylandfont-condensedregula-webfont.svg#mysteryland_fontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #000;
  cursor: default; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #52b7e8; }

::selection {
  color: #fff;
  background: #52b7e8; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s; }

.location-h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  color: #000;
  line-height: 1; }
  .location-h3 small {
    display: block;
    text-transform: none;
    margin-top: 5px;
    color: #444; }
  @media all and (max-width: 767px) {
    .location-h3 {
      font-size: 18px; } }

body {
  background-color: #000;
  height: 100%; }

.content-wrapper {
  margin-top: 80px;
  height: calc(100% - 80px); }
  @media all and (max-width: 767px) {
    .content-wrapper {
      margin-top: 50px;
      height: calc(100% - 50px); } }

.no-padding {
  padding: 0px; }

.section {
  background-color: #fff;
  padding: 60px 0;
  overflow: hidden; }
  .section--grey {
    background-color: #f6f6f6; }

.vertical-align {
  display: table-cell;
  height: 100%;
  vertical-align: middle; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.location-visual-wrapper {
  position: relative; }
  .location-visual-wrapper .location-buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    z-index: 2;
    padding: 15px;
    opacity: 0;
    text-align: center; }
  .location-visual-wrapper:hover .location-buttons {
    opacity: 1; }
  .location-visual-wrapper .location-visual {
    position: relative;
    z-index: 1; }

.location-date {
  background-color: #f1f1f2;
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  display: table;
  padding: 10px;
  color: #000;
  line-height: 1; }
  .location-date .day {
    font-weight: 900;
    font-size: 40px; }
  .location-date .month {
    text-transform: uppercase;
    font-size: 15px; }

.location-content {
  background-color: #fff; }

.location-info {
  width: calc(100% - 100px);
  float: left;
  position: relative;
  display: table;
  height: 100px;
  padding: 15px; }

.location-flag {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px; }
  @media all and (max-width: 767px) {
    .location-flag {
      width: 35px;
      top: 0;
      right: 0; } }

.img-container {
  background-color: #000;
  height: 0;
  overflow: hidden;
  position: relative;
  display: block; }
  .img-container img, .img-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s; }

.lazyimage {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in 0s;
  -moz-transition: opacity 0.2s ease-in 0s;
  -o-transition: opacity 0.2s ease-in 0s; }

.img-responsive {
  width: 100%; }

.img-ratio-2-1 {
  padding-bottom: 50%;
  /* 1:4*100 */ }

.img-ratio-5-1 {
  padding-bottom: 20%;
  /* 1:4*100 */ }

.img-ratio-5-2 {
  padding-bottom: 40%;
  /* 1:4*100 */ }

.img-ratio-4-3 {
  padding-bottom: 75%;
  /* 3:4*100 */ }

.img-ratio-16-9 {
  padding-bottom: 56.25%;
  /* 16:9*100 */ }

.button {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 13px; }
  .button--primary {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    font-weight: 900; }
    .button--primary:hover {
      background-color: #fff;
      color: #000; }
  .button--block {
    display: block;
    padding-left: 5px;
    padding-right: 5px; }
  .button--location {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    display: block;
    width: 80%;
    margin: 10px auto; }
    .button--location:hover {
      background-color: #fff;
      color: #000; }
    @media all and (max-width: 1199px) {
      .button--location {
        width: 100%;
        font-size: 18px; } }
  .button--outline {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff; }
    .button--outline:hover {
      background-color: #fff;
      color: #000; }
  .button--hero {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 900;
    font-size: 35px;
    margin: 0 15px;
    padding: 20px 50px; }
    .button--hero span {
      display: block;
      font-size: 50%;
      padding-top: 5px; }
    @media all and (max-width: 991px) {
      .button--hero {
        display: block;
        margin: 0 0 15px; } }
    @media all and (max-width: 767px) {
      .button--hero {
        padding: 15px 30px;
        font-size: 30px; } }
  .button-explain {
    display: block;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    padding-top: 5px; }

.form-field-wrapper {
  position: relative; }

.event-registration-form-field {
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  width: 100%;
  z-index: 1;
  cursor: default; }
  .event-registration-form-field:focus {
    background-color: #000; }
  .event-registration-form-field::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .event-registration-form-field::-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1; }
  @media all and (max-width: 991px) {
    .event-registration-form-field {
      font-size: 18px;
      padding: 15px; } }
  @media all and (max-width: 767px) {
    .event-registration-form-field {
      font-size: 13px;
      padding: 10px; } }

.event-registration-form-submit {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  border-left: 3px solid #fff; }
  .event-registration-form-submit:hover {
    background-color: #fff;
    color: #000; }
  @media all and (max-width: 991px) {
    .event-registration-form-submit {
      font-size: 18px;
      padding: 15px; } }
  @media all and (max-width: 767px) {
    .event-registration-form-submit {
      font-size: 13px;
      padding: 10px; } }

.header {
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  @media all and (max-width: 767px) {
    .header {
      height: 50px; } }

.header-logo {
  float: left;
  width: 123px;
  height: 50px;
  background: transparent url(../img/ml/logo.png) no-repeat 0 0 scroll;
  background-size: 123px;
  margin-top: 15px;
  display: block; }
  @media all and (max-width: 767px) {
    .header-logo {
      width: 100px;
      background-size: 100px;
      margin-top: 5px;
      margin: 5px auto;
      float: none; } }

@media all and (max-width: 767px) {
  .header-menu {
    display: none; } }

.header-menu-list {
  float: right;
  border-right: 1px solid #f2f2f2; }

.header-menu-item {
  list-style-type: none;
  float: left;
  border-left: 1px solid #f2f2f2;
  line-height: 80px; }

.header-menu-link {
  display: block;
  padding: 0 40px;
  color: #000;
  font-family: "mysteryland_fontregular", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal; }
  .header-menu-link:hover {
    color: #dc2d50; }

.hero {
  background-color: #dc2d50;
  color: #fff;
  padding: 50px 0;
  font-family: "mysteryland_fontregular", Arial, sans-serif; }
  .hero .hero-h1 {
    font-size: 70px;
    line-height: 1; }
    @media all and (max-width: 767px) {
      .hero .hero-h1 {
        font-size: 35px; } }

.event-hero {
  height: 100%;
  background: #000 url(../img/ml/hero.jpg) no-repeat center center scroll;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  padding: 30px 0;
  position: relative; }
  .event-hero:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(50, 50, 50, 0.2);
    content: ""; }
  .event-hero h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90px;
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
    margin-bottom: 40px; }
    .event-hero h1 small {
      display: block;
      color: #fff;
      font-weight: 700;
      margin-top: 5px; }
    @media all and (max-width: 991px) {
      .event-hero h1 {
        font-size: 60px; } }
    @media all and (max-width: 767px) {
      .event-hero h1 {
        font-size: 30px; } }

.hotel-item-grid {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px; }

.hotel-item-grid-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
  z-index: 1;
  border-top: 1px solid #ddd; }

.hotel-item-grid-image {
  border-bottom: 1px solid #ddd; }

.hotel-item-grid-slide {
  position: relative;
  top: 0;
  background-color: #fff;
  -webkit-transition: top .3s ease-in-out .1s;
  -moz-transition: top .3s ease-in-out .1s;
  -o-transition: top .3s ease-in-out .1s;
  transition: top .3s ease-in-out .1s; }

.hotel-item-grid-price {
  color: #000;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 18px; }

.hotel-item-grid-content {
  padding: 15px; }
  .hotel-item-grid-content .title {
    font-weight: 700;
    font-size: 17px;
    color: #000; }
  .hotel-item-grid-content .rating {
    color: #dc2d50;
    margin: 5px 0 10px;
    font-size: 15px;
    line-height: 1; }
  .hotel-item-grid-content .more-info {
    color: #dc2d50;
    font-size: 12px;
    font-weight: 700;
    display: none;
    margin-top: 2px; }
    .hotel-item-grid-content .more-info:hover {
      color: #dc2d50; }
    @media all and (max-width: 767px) {
      .hotel-item-grid-content .more-info {
        display: block; } }
  .hotel-item-grid-content .intro {
    color: #666;
    overflow: hidden;
    height: 65px;
    line-height: 1.4; }

.facilities {
  padding: 15px;
  border-top: 1px solid #ddd; }

.facilities-list {
  list-style-type: none;
  font-size: 13px;
  color: #666;
  margin-bottom: 11px; }
  @media all and (max-width: 767px) {
    .facilities-list {
      margin-bottom: 11px; } }
  .facilities-list li {
    padding: 0 0 4px 23px;
    position: relative;
    float: left;
    width: 50%; }
    @media all and (max-width: 767px) {
      .facilities-list li {
        float: left;
        width: 50%; } }
  .facilities-list li:before {
    width: 20px;
    text-align: left;
    position: absolute;
    left: 0;
    font-family: "FontAwesome";
    display: inline-block;
    color: #000; }
  .facilities-list .wifi:before {
    content: "\f1eb"; }
  .facilities-list .bar:before {
    content: "\f000"; }
  .facilities-list .restaurant:before {
    content: "\f0f5"; }
  .facilities-list .transfers:before {
    content: "\f1b9"; }

/* RIBBON BANNERS */
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

/* reset certain elements (in case of conflicting CSS for classes, links, etc.) */
.ribbon .text,
.ribbon .banner,
.ribbon a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.ribbon a {
  color: #fff;
  text-decoration: none; }

.no-css-transforms .ribbon {
  font-size: 1em;
  position: relative;
  width: 100%; }

.ribbon .banner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: block;
  float: right;
  position: relative;
  right: -7px;
  top: 27px;
  width: 100px; }

.ribbon-small .banner {
  right: -8px;
  top: 15px;
  width: 65px; }

.ribbon-large .banner {
  right: -20px;
  top: 32px;
  width: 150px; }

.ribbon .banner::after,
.ribbon .banner::before {
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  width: 15px; }

.ribbon-small .banner::after,
.ribbon-small .banner::before {
  height: 6px;
  width: 20px; }

.ribbon-large .banner::after,
.ribbon-large .banner::before {
  height: 18px;
  width: 45px; }

.ribbon .banner::before {
  -webkit-transform: skewY(-45deg) translate(9px, 25px);
  -moz-transform: skewY(-45deg) translate(9px, 25px);
  -ms-transform: skewY(-45deg) translate(9px, 25px);
  -o-transform: skewY(-45deg) translate(9px, 25px);
  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  -o-transform-origin: 100% center;
  left: -40px; }

.ribbon-small .banner::before {
  top: -5px;
  left: -30px; }

.ribbon-large .banner::before {
  top: 9px;
  left: -68px; }

.ribbon .banner::after {
  -webkit-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -moz-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -ms-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -o-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -webkit-transform-origin: 0 center;
  -moz-transform-origin: 0 center;
  -ms-transform-origin: 0 center;
  -o-transform-origin: 0 center;
  right: -24px; }

.ribbon-small .banner::after {
  top: 18px;
  right: -12px; }

.ribbon-large .banner::after {
  top: 45px;
  right: -26px; }

.no-css-transforms .ribbon .banner {
  position: static;
  width: 100%;
  float: none;
  font-size: 10px; }

.ribbon .text {
  position: relative;
  z-index: 2;
  padding: 6px 0;
  font-size: 12px;
  min-height: 18px;
  line-height: 18px;
  white-space: nowrap;
  font-size: 15px;
  text-overflow: ellipsis; }

/* small text */
.ribbon-small .text {
  padding: 3px 0;
  font-size: 8px;
  min-height: 14px;
  line-height: 14px; }

/* large text */
.ribbon-large .text {
  padding: 9px 0;
  font-size: 18px;
  min-height: 28px;
  line-height: 28px; }

.ribbon .text::before,
.ribbon .text::after {
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

/* small text */
.ribbon.ribbon-small .text::before,
.ribbon.ribbon-small .text::after {
  height: 20px; }

/* large text */
.ribbon.ribbon-large .text::before,
.ribbon.ribbon-large .text::after {
  height: 46px; }

.ribbon .text::before {
  -webkit-transform: translateX(-15%) skewX(-45deg);
  -moz-transform: translateX(-15%) skewX(-45deg);
  -ms-transform: translateX(-15%) skewX(-45deg);
  -o-transform: translateX(-15%) skewX(-45deg); }

.ribbon .text::after {
  -webkit-transform: translateX(15%) skewX(45deg);
  -moz-transform: translateX(15%) skewX(45deg);
  -ms-transform: translateX(15%) skewX(45deg);
  -o-transform: translateX(15%) skewX(45deg); }

.no-css-transforms .ribbon .text {
  height: 25px;
  padding: 3px; }

/*--- RIBBON COLORS ---*/
/* default */
.ribbon .banner::after,
.ribbon .banner::before {
  background-color: #231f20; }

.ribbon .text::before,
.ribbon .text::after,
.no-css-transforms .ribbon .text {
  background-color: #dc2d50; }

/* green */
.ribbon-green .banner::after,
.ribbon-green .banner::before {
  background-color: #dc2d50; }

.ribbon-green .text::before,
.ribbon-green .text::after,
.no-css-transforms .ribbon-green .text {
  background-color: #62c462; }

.footer {
  background-color: #000;
  color: #444;
  padding-top: 35px;
  padding-bottom: 35px; }

.footer-list {
  list-style-type: none;
  font-size: 13px; }
  @media all and (max-width: 767px) {
    .footer-list {
      margin-bottom: 30px; } }

.footer-list-item {
  margin-bottom: 7px; }

.footer-list-link {
  color: #444; }
  .footer-list-link:hover {
    color: #fff; }

.footer-h4 {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 10px; }

@media all and (max-width: 767px) {
  .footer-form {
    margin-bottom: 30px; } }

.footer-form-wrapper {
  position: relative;
  height: 33px; }

.footer-form-field {
  background-color: #000;
  border: 1px solid #444;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
  cursor: default;
  z-index: 1; }
  .footer-form-field::-webkit-input-placeholder {
    color: #444;
    opacity: 1; }
  .footer-form-field::-moz-placeholder {
    /* Firefox 18- */
    color: #444;
    opacity: 1; }

.footer-form-submit {
  border: none;
  background-color: #444;
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 900;
  width: 50px;
  border-left: 1px solid #444;
  height: 43px;
  position: absolute;
  top: 1px;
  right: 1px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s; }
  .footer-form-submit:hover {
    background-color: #000;
    color: #444; }

/*# sourceMappingURL=styles.css.map */
