@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(bootstrap.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

html, body {
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  cursor: default; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  outline: none !important; }

h1, h2, h3, h4, small, p, ul, li, video, figure, figcaption {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 0px; }

a, a:visited, a:active {
  text-decoration: none; }

/* [data-sr] { 
	visibility: hidden; 
} */
@font-face {
  font-family: 'mysteryland_fontregular';
  src: url("../font/mysterylandfont-condensedregula-webfont.eot");
  src: url("../font/mysterylandfont-condensedregula-webfont.eot?#iefix") format("embedded-opentype"), url("../font/mysterylandfont-condensedregula-webfont.woff2") format("woff2"), url("../font/mysterylandfont-condensedregula-webfont.woff") format("woff"), url("../font/mysterylandfont-condensedregula-webfont.ttf") format("truetype"), url("../font/mysterylandfont-condensedregula-webfont.svg#mysteryland_fontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #000;
  cursor: default;
  font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #dc2d50; }

::selection {
  color: #fff;
  background: #dc2d50; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s; }

.h1 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px 0 10px;
  font-size: 36px; }
  @media all and (max-width: 767px) {
    .h1 {
      font-size: 26px; } }

.h3 {
  margin: 0;
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 21px; }

.h4 {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400; }

.p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px; }

.accordion-row {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
  cursor: pointer; }
  .accordion-row:hover .accordion-h3 {
    color: #dc2d50; }

.accordion-h3 {
  font-family: "mysteryland_fontregular", Arial, sans-serif;
  display: block;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s; }
  .accordion-h3 small {
    text-align: right;
    position: absolute;
    right: 40px;
    padding-right: 30px;
    line-height: 40px;
    color: #000;
    font-size: 15px;
    font-weight: 900;
    font-family: "Lato", Arial, sans-serif;
    text-transform: uppercase;
    border-right: 1px solid #ddd; }
  .accordion-h3:after {
    content: "\f078";
    font-family: "FontAwesome";
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-weight: normal; }

.open .accordion-h3 {
  color: #dc2d50; }

.open .accordion-h3:after {
  content: "\f077"; }

.location-h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  color: #000;
  line-height: 1; }
  .location-h3 small {
    display: block;
    text-transform: none;
    margin-top: 5px;
    color: #444; }
  @media all and (max-width: 767px) {
    .location-h3 {
      font-size: 18px; } }

.fold-h2 {
  color: #000;
  font-size: 30px; }

.fold-h3 {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase; }
  @media all and (max-width: 767px) {
    .fold-h3 {
      font-size: 16px; } }

html, body {
  -webkit-overflow-scrolling: touch;
  /* lets it scroll lazy */ }

body {
  background-color: #000;
  height: 100%; }

.content-wrapper {
  margin-top: 80px;
  height: calc(100% - 80px); }
  @media all and (max-width: 767px) {
    .content-wrapper {
      margin-top: 50px;
      height: calc(100% - 50px); } }

.no-padding {
  padding: 0px; }

.section {
  background-color: #fff;
  padding: 60px 0;
  overflow: hidden; }
  @media all and (max-width: 767px) {
    .section {
      padding: 30px 0; } }
  .section--grey {
    background-color: #f6f6f6; }
  .section--white {
    background-color: #fff; }

.margin-top-10 {
  margin-top: 10px; }

.vertical-align {
  display: table-cell;
  height: 100%;
  vertical-align: middle; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.location-visual-wrapper {
  position: relative; }
  .location-visual-wrapper .location-buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    z-index: 2;
    padding: 15px;
    opacity: 0;
    text-align: center; }
  .location-visual-wrapper:hover .location-buttons {
    opacity: 1; }
  .location-visual-wrapper .location-visual {
    position: relative;
    z-index: 1; }

.location-date {
  background-color: #f1f1f2;
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
  display: table;
  padding: 10px;
  color: #000;
  line-height: 1; }
  .location-date .day {
    font-weight: 900;
    font-size: 40px; }
  .location-date .month {
    text-transform: uppercase;
    font-size: 15px; }

.location-content {
  background-color: #fff; }

.location-info {
  width: calc(100% - 100px);
  float: left;
  position: relative;
  display: table;
  height: 100px;
  padding: 15px; }

.location-flag {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px; }
  @media all and (max-width: 767px) {
    .location-flag {
      width: 35px;
      top: 0;
      right: 0; } }

.img-container {
  background-color: #000;
  height: 0;
  overflow: hidden;
  position: relative;
  display: block; }
  .img-container img, .img-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    /*height: 100%;*/
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s; }

.location-visual-wrapper:hover img {
  opacity: 0.5;
  -ms-transform: scale(1.2, 1.2) rotate(-2deg);
  -webkit-transform: scale(1.2, 1.2) rotate(-2deg);
  transform: scale(1.2, 1.2) rotate(-2deg); }

.lazyimage {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in 0s;
  -moz-transition: opacity 0.2s ease-in 0s;
  -o-transition: opacity 0.2s ease-in 0s; }

.img-responsive {
  width: 100%; }

.img-ratio-1-1 {
  padding-bottom: 100%;
  /* 1:4*100 */ }

.img-ratio-2-1 {
  padding-bottom: 50%;
  /* 1:4*100 */ }

.img-ratio-5-1 {
  padding-bottom: 20%;
  /* 1:4*100 */ }

.img-ratio-5-2 {
  padding-bottom: 40%;
  /* 1:4*100 */ }

.img-ratio-4-3 {
  padding-bottom: 75%;
  /* 3:4*100 */ }

.img-ratio-16-9 {
  padding-bottom: 56.25%;
  /* 16:9*100 */ }

@media all and (max-width: 767px) {
  .xs-img-ratio-2-1 {
    padding-bottom: 50%;
    /* 1:4*100 */ } }
.button {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s, border-color  0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s, border-color  0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s, border-color  0.2s ease-in-out 0s; }
  .button--primary {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    font-weight: 900; }
    .button--primary:hover {
      background-color: #fff;
      color: #000; }
  .button--secondary {
    background-color: #dc2d50;
    color: #fff;
    border: 2px solid #dc2d50;
    font-weight: 900; }
    .button--secondary:hover {
      background-color: #fff;
      color: #dc2d50; }
  .button--small {
    font-size: 11px; }
  .button--prev {
    background-color: #fff;
    color: 000;
    border: 2px solid #fff;
    font-weight: 900;
    padding: 10px 20px;
    margin-right: 5px; }
    .button--prev:hover {
      background-color: #000;
      color: #fff;
      border-color: #000; }
    .button--prev:before {
      content: "\f053";
      display: inline-block;
      margin-right: 5px;
      font-family: "FontAwesome";
      font-weight: normal; }
  .button--next {
    background-color: #fff;
    color: 000;
    border: 2px solid #fff;
    font-weight: 900;
    padding: 10px 20px;
    font-weight: 900; }
    .button--next:hover {
      background-color: #000;
      color: #fff;
      border-color: #000; }
    .button--next:after {
      content: "\f054";
      display: inline-block;
      margin-left: 5px;
      font-family: "FontAwesome";
      font-weight: normal; }
  @media all and (max-width: 991px) {
    .button--block-mobile {
      display: block;
      width: 100%; } }
  .button--block {
    display: block;
    padding-left: 5px;
    padding-right: 5px; }
  .button--location {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    display: block;
    width: 80%;
    margin: 10px auto; }
    .button--location:hover {
      background-color: #fff;
      color: #000; }
    @media all and (max-width: 1199px) {
      .button--location {
        width: 100%;
        font-size: 18px; } }
  .button--outline {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff; }
    .button--outline:hover {
      background-color: #fff;
      color: #000; }
  .button--hero {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 900;
    font-size: 35px;
    margin: 0 15px;
    padding: 20px 50px; }
    .button--hero span {
      display: block;
      font-size: 50%;
      padding-top: 5px; }
    @media all and (max-width: 991px) {
      .button--hero {
        display: block;
        margin: 0 0 15px; } }
    @media all and (max-width: 767px) {
      .button--hero {
        padding: 15px 30px;
        font-size: 30px; } }
  .button-explain {
    display: block;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    padding-top: 5px; }

.my-pager-list {
  list-style-type: none;
  text-align: center; }

.my-pager-item {
  display: inline-block; }

.my-pager-link {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  background-color: #fff;
  display: inline-block;
  float: left;
  margin-left: 5px;
  border-bottom: 1px solid #e0e1e2;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  color: #6d6e71;
  text-transform: uppercase;
  font-weight: 700; }
  @media all and (max-width: 767px) {
    .my-pager-link {
      padding: 5px 10px;
      font-size: 12px; } }
  .my-pager-link:hover {
    background-color: #ddd; }
  .my-pager-link--active, .my-pager-link--active:hover {
    background-color: #dc2d50;
    color: #fff; }

.manage-rooms {
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  position: relative; }
  @media all and (max-width: 991px) {
    .manage-rooms {
      float: right; } }
  @media all and (max-width: 767px) {
    .manage-rooms {
      float: none;
      margin-bottom: 10px; } }
  .manage-rooms .manage-button {
    -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    border: none; }
    .manage-rooms .manage-button:active {
      -webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: inset 1px 1px 4px 0px rgba(50, 50, 50, 0.75); }
    .manage-rooms .manage-button:before {
      font-family: "FontAwesome";
      color: #fff;
      line-height: 40px; }
    .manage-rooms .manage-button:hover {
      background-color: #666; }
  .manage-rooms .minus {
    background-color: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    cursor: pointer; }
    .manage-rooms .minus:before {
      content: "\f068"; }
  .manage-rooms .amount {
    float: left;
    width: 66px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 13px; }
  .manage-rooms .plus {
    background-color: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    cursor: pointer; }
    .manage-rooms .plus:before {
      content: "\f067"; }

.form-field-wrapper {
  position: relative; }

.event-registration-form-field {
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  width: 100%;
  z-index: 1;
  cursor: default; }
  .event-registration-form-field:focus {
    background-color: #000; }
  .event-registration-form-field::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .event-registration-form-field::-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1; }
  @media all and (max-width: 991px) {
    .event-registration-form-field {
      font-size: 18px;
      padding: 15px; } }
  @media all and (max-width: 767px) {
    .event-registration-form-field {
      font-size: 13px;
      padding: 10px; } }

.event-registration-form-submit {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  border-left: 3px solid #fff; }
  .event-registration-form-submit:hover {
    background-color: #fff;
    color: #000; }
  @media all and (max-width: 991px) {
    .event-registration-form-submit {
      font-size: 18px;
      padding: 15px; } }
  @media all and (max-width: 767px) {
    .event-registration-form-submit {
      font-size: 13px;
      padding: 10px; } }

.ticket-form {
  border-bottom: 1px solid #cbcbcb;
  margin: 0 0 30px;
  padding: 0 0 30px; }

.form-label {
  display: block;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 15px; }
  .form-label--small {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 10px; }

.form-field {
  display: block;
  width: 100%;
  outline: none !important;
  border: none;
  background-color: #fff;
  padding: 10px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  appearance: none;
  margin-bottom: 8px;
  cursor: default;
  color: #666; }
  .form-field:focus {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3); }

.ticket-form-submit {
  padding-top: 28px; }

.form-persons {
  color: #000;
  margin: 16px 0 0; }
  @media all and (max-width: 991px) {
    .form-persons {
      margin-top: 0;
      margin-bottom: 15px; } }
  .form-persons span {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px; }
  .form-persons:before {
    content: "\f0f2";
    font-family: "FontAwesome";
    font-size: 24px;
    color: #000;
    margin-right: 4px;
    display: inline-block;
    line-height: 20px; }

@media all and (max-width: 991px) {
  .form-wrapper--inline {
    display: inline;
    margin-right: 10px; } }

.form-number {
  width: 60px;
  display: inline-block; }

.form-select {
  display: block;
  width: 100%;
  outline: none !important;
  border: none;
  color: transparent;
  background-color: #fff;
  padding: 8px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  appearance: none;
  background: #fff url(../img/form-select-bg.png) no-repeat right center;
  margin-bottom: 8px;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #666; }
  .form-select:focus {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3); }
  .form-select--inline {
    display: inline-block;
    width: auto;
    min-width: 60px; }

.form-text-message {
  margin-bottom: 15px; }

.form-option {
  color: #666;
  text-shadow: none;
  padding: 3px 8px; }
  .form-option:focus {
    background-color: #000; }

.header {
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1); }
  @media all and (max-width: 767px) {
    .header {
      height: 50px; } }

.header-logo {
  float: left;
  width: 123px;
  height: 50px;
  background: transparent url(../img/ml/logo.png) no-repeat 0 0 scroll;
  background-size: 123px;
  margin-top: 15px;
  display: block; }
  @media all and (max-width: 767px) {
    .header-logo {
      width: 100px;
      background-size: 100px;
      margin-top: 5px;
      margin: 5px auto;
      float: none; } }

@media all and (max-width: 767px) {
  .header-menu {
    display: none; } }

.header-menu-list {
  float: right;
  /*border-right: 1px solid $header-border-color;*/ }

.header-menu-item {
  list-style-type: none;
  float: left;
  /*border-left: 1px solid $header-border-color;*/
  line-height: 80px; }

.header-menu-link {
  display: block;
  margin-left: 40px;
  color: #000;
  font-family: "mysteryland_fontregular", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s; }
  .header-menu-link:hover {
    color: #dc2d50; }

.hero {
  background-color: #dc2d50;
  color: #fff;
  padding: 50px 0;
  font-family: "mysteryland_fontregular", Arial, sans-serif; }
  .hero .hero-h1 {
    font-size: 70px;
    line-height: 1; }
    @media all and (max-width: 767px) {
      .hero .hero-h1 {
        font-size: 35px; } }

.cart-total {
  display: inline-block;
  float: right;
  margin-left: 20px;
  position: relative; }
  .cart-total:after {
    content: "\f07a";
    font-family: "FontAwesome";
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 40px;
    position: relative;
    top: -3px; }

.cart {
  position: absolute;
  top: 80px;
  width: 320px;
  right: 15px;
  z-index: 998;
  background-color: #fff;
  padding: 20px;
  line-height: 1.4;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.1);
  right: -500px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.cart-open {
  right: 15px; }

.close-cart {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #dc2d50; }
  .close-cart:hover {
    color: #000; }
  .close-cart:before {
    content: "\f00d";
    font-family: "FontAwesome";
    margin-right: 5px; }

.cart-section {
  border-top: 1px solid #ddd;
  padding: 15px 0 15px; }
  .cart-section strong {
    font-weight: 900; }
  .cart-section--noborder {
    border-top: none;
    padding-top: 0; }

.cart-total-price {
  font-weight: 700;
  border-top: 2px solid #000;
  padding-top: 10px;
  font-size: 17px;
  text-transform: uppercase; }

.event-hero {
  height: 100%;
  background: #000 url(../img/ml/hero.jpg) no-repeat center center scroll;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  padding: 30px 0;
  position: relative; }
  .event-hero:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(50, 50, 50, 0.2);
    content: ""; }
  .event-hero h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90px;
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
    margin-bottom: 40px; }
    .event-hero h1 small {
      display: block;
      color: #fff;
      font-weight: 700;
      margin-top: 5px; }
    @media all and (max-width: 991px) {
      .event-hero h1 {
        font-size: 60px; } }
    @media all and (max-width: 767px) {
      .event-hero h1 {
        font-size: 30px; } }

.booking-hero {
  height: 100%;
  background: #000 url(../img/ml/hero.jpg) no-repeat top center fixed;
  background-size: cover;
  text-align: center;
  min-height: 300px;
  padding: 30px 0;
  position: relative; }

.fold {
  border-top: 2px solid #cbcbcb;
  padding-top: 20px; }

.fold-description {
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 30px;
  padding: 0 0 10px; }

.fold-navigation {
  float: right;
  position: relative;
  top: -10px; }
  @media all and (max-width: 767px) {
    .fold-navigation {
      float: none;
      margin-bottom: 20px;
      display: none; } }

.switch-display {
  list-style-type: none;
  margin-bottom: 30px;
  float: right; }
  @media all and (max-width: 767px) {
    .switch-display {
      float: none;
      margin-bottom: 20px; } }
  .switch-display li {
    padding: 5px;
    background-color: #fff;
    display: inline-block;
    float: left;
    margin-left: 5px;
    border-bottom: 1px solid #e0e1e2;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
    color: #6d6e71; }
    @media all and (max-width: 767px) {
      .switch-display li {
        margin: 15px 5px 0 0; } }
    .switch-display li:before {
      width: 25px;
      height: 25px;
      font-size: 20px;
      text-align: center;
      font-family: "FontAwesome";
      line-height: 25px;
      display: block;
      position: relative; }
    .switch-display li:hover {
      cursor: pointer;
      background-color: #ddd; }
    .switch-display li.display-options-list:before {
      content: "\f03a";
      top: 1px; }
    .switch-display li.display-options-grid:before {
      content: "\f00a";
      top: 1px; }
    .switch-display li.display-options-map:before {
      content: "\f041"; }
    .switch-display li.active {
      color: #a7a9ac; }

.hotel-item-grid {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px; }

.hotel-item-grid-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
  z-index: 1;
  border-top: 1px solid #ddd; }

.hotel-item-grid-image {
  border-bottom: 1px solid #ddd; }

.hotel-item-grid-slide {
  position: relative;
  top: 0;
  background-color: #fff;
  -webkit-transition: top .3s ease-in-out .1s;
  -moz-transition: top .3s ease-in-out .1s;
  -o-transition: top .3s ease-in-out .1s;
  transition: top .3s ease-in-out .1s; }

.hotel-item-grid-price {
  color: #000;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 18px; }

.hotel-item-grid-content {
  padding: 15px; }
  .hotel-item-grid-content .title {
    font-weight: 700;
    font-size: 17px;
    color: #000; }
  .hotel-item-grid-content .rating {
    color: #dc2d50;
    margin: 5px 0 10px;
    font-size: 15px;
    line-height: 1; }
  .hotel-item-grid-content .more-info {
    color: #dc2d50;
    font-size: 12px;
    font-weight: 700;
    display: none;
    margin-top: 2px; }
    .hotel-item-grid-content .more-info:hover {
      color: #dc2d50; }
    @media all and (max-width: 767px) {
      .hotel-item-grid-content .more-info {
        display: block; } }
  .hotel-item-grid-content .intro {
    color: #666;
    overflow: hidden;
    height: 65px;
    line-height: 1.4; }

.facilities {
  padding: 15px;
  border-top: 1px solid #ddd; }

.facilities-list {
  list-style-type: none;
  font-size: 13px;
  color: #666;
  margin-bottom: 11px; }
  @media all and (max-width: 767px) {
    .facilities-list {
      margin-bottom: 11px; } }
  .facilities-list li {
    padding: 0 0 4px 23px;
    position: relative;
    float: left;
    width: 50%; }
    @media all and (max-width: 767px) {
      .facilities-list li {
        float: left;
        width: 50%; } }
  .facilities-list li:before {
    width: 20px;
    text-align: left;
    position: absolute;
    left: 0;
    font-family: "FontAwesome";
    display: inline-block;
    color: #000; }
  .facilities-list .wifi:before {
    content: "\f1eb"; }
  .facilities-list .bar:before {
    content: "\f000"; }
  .facilities-list .restaurant:before {
    content: "\f0f5"; }
  .facilities-list .transfers:before {
    content: "\f1b9"; }

.hotel-item-list {
  background-color: #fff;
  margin-bottom: 15px; }

.hotel-item-list-content {
  margin: 15px 0 0;
  border-right: 1px solid #cbcbcb;
  padding: 0 15px; }
  @media all and (max-width: 991px) {
    .hotel-item-list-content {
      border-right: none; } }
  @media all and (max-width: 767px) {
    .hotel-item-list-content {
      padding: 15px 0 0;
      margin-top: 0; } }
  .hotel-item-list-content .title {
    font-weight: 700;
    font-size: 22px;
    color: #000; }
    @media all and (max-width: 767px) {
      .hotel-item-list-content .title {
        font-size: 17px; } }
  .hotel-item-list-content .rating {
    color: #dc2d50;
    margin: 5px 0 10px;
    font-size: 15px;
    line-height: 1; }
  .hotel-item-list-content .more-info {
    color: #dc2d50;
    font-size: 12px;
    font-weight: 700;
    display: none;
    margin-top: 2px; }
    .hotel-item-list-content .more-info:hover {
      color: #dc2d50; }
    @media all and (max-width: 767px) {
      .hotel-item-list-content .more-info {
        display: block; } }
  .hotel-item-list-content .intro {
    color: #666;
    overflow: hidden;
    height: 65px;
    line-height: 1.4;
    font-size: 15px;
    margin-bottom: 10px; }
    @media all and (max-width: 991px) {
      .hotel-item-list-content .intro {
        font-size: 13px;
        height: 40px; } }
  .hotel-item-list-content .room-details {
    margin-top: 10px; }
    .hotel-item-list-content .room-details ul {
      margin-left: 15px;
      color: #666;
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 20px; }
      @media all and (max-width: 767px) {
        .hotel-item-list-content .room-details ul {
          font-size: 13px;
          line-height: 1.2; } }
    .hotel-item-list-content .room-details li {
      margin-bottom: 5px; }

.hotel-item-list-price {
  color: #000;
  padding: 15px 0;
  font-weight: 700;
  font-size: 22px; }
  .hotel-item-list-price--mobile {
    display: none; }
  @media all and (max-width: 991px) {
    .hotel-item-list-price {
      padding: 0 15px;
      float: left; } }
  @media all and (max-width: 767px) {
    .hotel-item-list-price {
      padding: 0;
      font-size: 22px;
      float: none;
      display: none; }
      .hotel-item-list-price--mobile {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        padding: 10px 15px;
        display: block; } }

.hotel-item-list .ribbon {
  right: -1px; }

@media all and (max-width: 991px) {
  .hotel-item-list-button {
    float: right; } }
@media all and (max-width: 767px) {
  .hotel-item-list-button {
    float: right;
    margin-bottom: 15px;
    display: block;
    float: none;
    text-align: center; } }

.hotel-details .rating {
  color: #dc2d50;
  margin: 10px 20px 10px 0;
  font-size: 20px;
  line-height: 1;
  float: right; }
  @media all and (max-width: 767px) {
    .hotel-details .rating {
      float: none;
      font-size: 16px; } }
.hotel-details .carousel {
  margin: 10px 0; }

.owl-theme .owl-controls .owl-page span {
  width: 9px;
  height: 9px;
  opacity: 1;
  background-color: #cbcbcb; }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #dc2d50;
  opacity: 1; }

/* RIBBON BANNERS */
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

/* reset certain elements (in case of conflicting CSS for classes, links, etc.) */
.ribbon .text,
.ribbon .banner,
.ribbon a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.ribbon a {
  color: #fff;
  text-decoration: none; }

.no-css-transforms .ribbon {
  font-size: 1em;
  position: relative;
  width: 100%; }

.ribbon .banner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: block;
  float: right;
  position: relative;
  right: -7px;
  top: 27px;
  width: 100px; }

.ribbon-small .banner {
  right: -8px;
  top: 15px;
  width: 65px; }

.ribbon-large .banner {
  right: -20px;
  top: 32px;
  width: 150px; }

.ribbon .banner::after,
.ribbon .banner::before {
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  width: 15px; }

.ribbon-small .banner::after,
.ribbon-small .banner::before {
  height: 6px;
  width: 20px; }

.ribbon-large .banner::after,
.ribbon-large .banner::before {
  height: 18px;
  width: 45px; }

.ribbon .banner::before {
  -webkit-transform: skewY(-45deg) translate(9px, 25px);
  -moz-transform: skewY(-45deg) translate(9px, 25px);
  -ms-transform: skewY(-45deg) translate(9px, 25px);
  -o-transform: skewY(-45deg) translate(9px, 25px);
  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  -o-transform-origin: 100% center;
  left: -40px; }

.ribbon-small .banner::before {
  top: -5px;
  left: -30px; }

.ribbon-large .banner::before {
  top: 9px;
  left: -68px; }

.ribbon .banner::after {
  -webkit-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -moz-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -ms-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -o-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -webkit-transform-origin: 0 center;
  -moz-transform-origin: 0 center;
  -ms-transform-origin: 0 center;
  -o-transform-origin: 0 center;
  right: -24px; }

.ribbon-small .banner::after {
  top: 18px;
  right: -12px; }

.ribbon-large .banner::after {
  top: 45px;
  right: -26px; }

.no-css-transforms .ribbon .banner {
  position: static;
  width: 100%;
  float: none;
  font-size: 10px; }

.ribbon .text {
  position: relative;
  z-index: 2;
  padding: 6px 0;
  font-size: 12px;
  min-height: 18px;
  line-height: 18px;
  white-space: nowrap;
  font-size: 15px;
  text-overflow: ellipsis; }

/* small text */
.ribbon-small .text {
  padding: 3px 0;
  font-size: 8px;
  min-height: 14px;
  line-height: 14px; }

/* large text */
.ribbon-large .text {
  padding: 9px 0;
  font-size: 18px;
  min-height: 28px;
  line-height: 28px; }

.ribbon .text::before,
.ribbon .text::after {
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

/* small text */
.ribbon.ribbon-small .text::before,
.ribbon.ribbon-small .text::after {
  height: 20px; }

/* large text */
.ribbon.ribbon-large .text::before,
.ribbon.ribbon-large .text::after {
  height: 46px; }

.ribbon .text::before {
  -webkit-transform: translateX(-15%) skewX(-45deg);
  -moz-transform: translateX(-15%) skewX(-45deg);
  -ms-transform: translateX(-15%) skewX(-45deg);
  -o-transform: translateX(-15%) skewX(-45deg); }

.ribbon .text::after {
  -webkit-transform: translateX(15%) skewX(45deg);
  -moz-transform: translateX(15%) skewX(45deg);
  -ms-transform: translateX(15%) skewX(45deg);
  -o-transform: translateX(15%) skewX(45deg); }

.no-css-transforms .ribbon .text {
  height: 25px;
  padding: 3px; }

/*--- RIBBON COLORS ---*/
/* default */
.ribbon .banner::after,
.ribbon .banner::before {
  background-color: #231f20; }

.ribbon .text::before,
.ribbon .text::after,
.no-css-transforms .ribbon .text {
  background-color: #dc2d50; }

/* green */
.ribbon-green .banner::after,
.ribbon-green .banner::before {
  background-color: #dc2d50; }

.ribbon-green .text::before,
.ribbon-green .text::after,
.no-css-transforms .ribbon-green .text {
  background-color: #62c462; }

.footer {
  background-color: #000;
  color: #444;
  padding-top: 35px;
  padding-bottom: 35px; }

.footer-list {
  list-style-type: none;
  font-size: 13px; }
  @media all and (max-width: 767px) {
    .footer-list {
      margin-bottom: 30px; } }

.footer-list-item {
  margin-bottom: 7px; }

.footer-list-link {
  color: #444; }
  .footer-list-link:hover {
    color: #fff; }

.footer-h4 {
  font-size: 16px;
  font-weight: 700;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 10px; }

@media all and (max-width: 767px) {
  .footer-form {
    margin-bottom: 30px; } }

.footer-form-wrapper {
  position: relative;
  height: 33px; }

.footer-form-field {
  background-color: #000;
  border: 1px solid #444;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
  cursor: default;
  z-index: 1; }
  .footer-form-field::-webkit-input-placeholder {
    color: #444;
    opacity: 1; }
  .footer-form-field::-moz-placeholder {
    /* Firefox 18- */
    color: #444;
    opacity: 1; }

.footer-form-submit {
  border: none;
  background-color: #444;
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 900;
  width: 50px;
  border-left: 1px solid #444;
  height: 43px;
  position: absolute;
  top: 1px;
  right: 1px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s; }
  .footer-form-submit:hover {
    background-color: #000;
    color: #444; }

/*# sourceMappingURL=styles.css.map */
