
$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$body-bg-color: #fff;

$theme-folder: flyingdutch;



// FONTS

$primary-font: 'Montserrat', Arial, sans-serif;
$primary-text-color: #000;
$primary-link-color: #000;
$secondary-text-color: #e10512;
$secondary-link-color: #e10512;
$tertiary-text-color: #000;
$tertiary-link-color: #000;

$secondary-font: 'collegiate', sans-serif;
$tertiary-font: 'Oswald', sans-serif;


// HEADER STYLING
$header-height: 80px;
$header-height-mobile: 50px;
$logo-width: 160px;
$logo-height: 80px;
$logo-width-mobile: 100px;
$logo-height-mobile: 50px;
$header-border-color: #ddd;
$header-link-color: #000;
$header-link-size: 20px;
$header-hover-color: #e10512;



// HERO STYLING

$hero-bg-color: #29ABE2;
$hero-color: #fff;
$hero-size: 50px;
$hero-size-mobile: 25px;

// FOOTER STYLING

$footer-bg-color: #000;
$footer-padding: 45px;
$footer-text-color: #fff;
$footer-link-color: #fff;
$footer-hover-color: #fff;
$footer-header-color: #fff;
$footer-header-size: 16px;
$footer-header-weight: 700;
$footer-text-size: 13px;
$footer-line-color: #fff;
$footer-form-bg-color: #000;
$footer-form-line-color: #fff;
$footer-form-input-color: #fff;
$footer-form-submit-bg-color: #fff;
$footer-form-submit-color: #000;
$footer-form-submit-hover-bg-color: #6db2c2;
$footer-form-submit-hover-color: #fff;


// BUTTON STYLING
$primary-btn-bg-color: #000;
$primary-btn-text-color: #fff;
$primary-btn-bg-hover-color: #fff;
$primary-btn-hover-text-color: #000;

$secondary-btn-bg-color: #000;
$secondary-btn-text-color: #fff;

// LOCATION STYLING

$date-bg-color: #f1f1f2;
$date-color: #000;
$location-color: #fff;
$location-title-color: #000;
$location-subtitle-color: #444;

// CONTENT STYLING

$section-bg-color: #fff;
$border-color: #000;

// RIBBON STYLING

$ribbon-color: #e10512;
$ribbon-shadow-color: #231f20;


// FORM STYLING

$select-bg-color: #fff;

body{
    background: #f9f9f9 url(../img/#{$theme-folder}/background.svg) repeat center top scroll !important;
    background-size: 100% !important;
}
.hero{
    background: transparent !important;
    color: #000 !important;
    font-weight: normal !important;
}
.section--grey, .tell-me-more-wrapper, .cart{
    background: #f9f9f9 url(../img/#{$theme-folder}/background.svg) repeat center top scroll !important;
    background-size: 100% !important;
}
.cart-wrapper{
    background: transparent !important;
}

.header-menu-item{
    line-height: 46px !important;
    margin-top: 15px;
    margin-left: 10px !important;

}
.header-menu-link{
    background: #000 !important;
    color: #fff  !important;
    padding: 0 15px !important;
}
.cart-total--active{
    color: #fff !important;
}
.header-menu-link:hover .cart-total--active, .tell-me-more{
    color: #000  !important;
}
.cart-total{
    float: none !important;
}
.header-menu-link:hover{
    background: #fff !important;
    color: #000  !important;
    border-color: #000;
}
.header-menu-link{
    margin-left: 0px !important;
    border: 2px solid #000;
}
@media all and (max-width: $breakpoint-mobile){
    .header-menu-item{
        line-height: 36px !important;
        margin-top: 5px !important;

    }
    .header-menu .header-menu-link{
        font-size: 13px !important;
        padding: 0 5px!important;
    }
    .cart-amount{
        font-size: 13px !important;
    }
}
.header-logo{
    background: transparent url(../img/#{$theme-folder}/logo.svg) no-repeat 0 0 scroll !important;
    background-size: $logo-width !important;
    margin-top: 0 !important;
    @media all and (max-width: $breakpoint-mobile){
        width: $logo-width-mobile !important;
        background-size: $logo-width-mobile !important;
        margin: 0 !important;
    }
}

.header-menu-link{
    font-family: $secondary-font;
    text-transform: uppercase;
}


.hero-h1{
    text-transform: uppercase;
    line-height: 1.2 !important;
    letter-spacing: 0px !important;
}

.footer{
    border-top: 1px solid #ddd;
}

.fold-h3, .button, .form-label, .event-hero h1, .event-hero h1 small, .tell-me-more h3 {
    font-family: $secondary-font !important;
    font-weight: normal !important;
}
.tell-me-more h3{
    font-size: 26px !important;
}

.form-label{
    font-size: 19px !important;
}

.button{
    font-size: 20px !important;
}

.button--primary:hover{
    border-color: #000 !important;
}

.button--prev:before, .button--next:after{
    font-size: 15px !important;
}

.close-tell-me-more{
    background-image: url("../img/close-cart.png") !important;
}

.footer-h4{
    font-family: $secondary-font;
    font-size: 23px !important;
    font-weight: 400 !important;
    padding-top: 35px;
    @media all and (max-width: $breakpoint-tablet){
        padding-top: 0px;
    }
}
.footer-col{
    min-height: 185px !important;
    @media all and (max-width: $breakpoint-tablet){
        min-height: 0px !important;
    }
}
.accordion-h3{
    text-transform: uppercase;
    // font-family: $tertiary-font !important;
    // font-weight: 700 !important;
    font-size: 35px !important;

    & small{
        font-family: $primary-font !important;
        font-weight: normal !important;
    }
}

.my-pager-link{
    color: #000 !important;
    font-weight: 400 !important;
}

.accordion-row, .accordion-h3 small, .form-col, .summary-section, .my-pager-item, .switch-display-list-item--border, .tell-me-more h3{
    border-color: #000 !important;
}

.plain h1{
    text-transform: uppercase;
    font-weight: 700;
}

.h3-header{
    text-transform: uppercase;
    font-size: 20px !important;
}

.button--hero{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: $secondary-font !important;
    text-transform: uppercase!important;
    font-weight: 400 !important;
    font-size: 36px !important;
    letter-spacing: 0px!important;
    padding: 20px 50px !important;

    & span{
        display: block !important;
    }
}

.button--location{
    font-size: 25px !important;
    font-weight: 900 !important;
    padding: 15px 30px!important;
    font-family: $secondary-font !important;
    text-transform: uppercase!important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ribbon .text, .location-h3, .location-h3 small{
    font-family: $secondary-font !important;
    font-weight: normal !important;
}

.customize-item, .hotel-item-list, .hotel-item-grid, .hotel-item-map{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15)!important;
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.15)!important;
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.15)!important;
}

.location-content{
    padding: 10px;
}
.location-info{
    width: 100% !important;
    float: none !important;
    text-align: center !important;
    border: 2px solid #fff;
}
.location-content--eind .location-info{
    border-color: #000 !important;
}

.location-h3, .location-h3 small{
    color: #fff !important;
    text-transform: uppercase !important;
}
.location-h3{
    font-size: 40px !important;
}
.location-h3 small{
    margin-top: 0px !important;
}

.location-content--eind .location-h3, .location-content--eind .location-h3 small{
    color: #000 !important;
}