
body{
	font-family: $primary-font;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	color: $primary-text-color;
	cursor: default;
	font-smooth: auto ;
	-webkit-font-smoothing : subpixel-antialiased;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: $secondary-link-color;
}

::selection {
	color: #fff;
	background: $secondary-link-color;
}

a{
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
}

.h1{
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 10px;
	font-size: 30px;
	font-family: $tertiary-font;

	@media all and(max-width: $breakpoint-mobile){
		font-size: 26px;
	}
}

.plain h1{
	font-family: $secondary-font;
	font-size: 50px;
	border-bottom: 1px solid #cbcbcb;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

.h3{
	margin: 0;
	font-weight: 700;
	padding-bottom: 15px;
	font-size: 21px;
	font-family: $primary-font;
}
.h4{
	color: $primary-text-color;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 400;
}

.plain h4{
	font-weight: 700;
	padding-bottom: 5px;
	font-size: 16px;
}

.p, .plain p{
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 15px;
}

.plain ul{
	margin: 0 0 15px 15px;
	font-size: 15px;
	line-height: 1.5;
}

.plain a{
	color: $secondary-link-color;
	text-decoration: underline;
}

.accordion-row{
	border-top: 1px solid #ddd;
	padding: 15px 0;
	position: relative;
	cursor: pointer;

	&:hover{
		background-color: #f1f1f1;
	}
}

.open .accordion-row{
	background-color: #f1f1f1;
	/*border-bottom: 1px solid #f1f1f1;*/
}

.strong{
	font-weight: 700;
}

.accordion-h3{
	font-family: $secondary-font;
	display: block;
	font-size: 45px;
	line-height: 45px;
	position: relative;
	-webkit-transition: color 0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s;
	transition: color 0.2s ease-in-out 0s;

	@media all and(max-width: $breakpoint-mobile){
		font-size: 30px;
		line-height: 30px;
	}

	& small{
		text-align: right;
		position: absolute;
		right: 40px;
		padding-right: 30px;
		line-height: 45px;
		color: #000;
		font-size: 15px;
		font-weight: 900;
		font-family: $primary-font;
		text-transform: uppercase;
		border-right: 1px solid #ddd;
		color: #ddd;
		-webkit-transition: color 0.2s ease-in-out 0s;
		-moz-transition: color 0.2s ease-in-out 0s;
		-o-transition: color 0.2s ease-in-out 0s;
		transition: color 0.2s ease-in-out 0s;

		@media all and(max-width: $breakpoint-mobile){
			display: none;
		}
	}

	&:after{
		content: "\f078";
		font-family: "FontAwesome";
		display: inline-block;
		position: absolute;
		right: 0px;
		font-size: 18px;
		font-weight: normal;
		color: #ddd;
		-webkit-transition: color 0.2s ease-in-out 0s;
		-moz-transition: color 0.2s ease-in-out 0s;
		-o-transition: color 0.2s ease-in-out 0s;
		transition: color 0.2s ease-in-out 0s;
	}
}
.fold-navigation
{
	display: none;
}
.open .fold-navigation{
	display: block;
	@media all and(max-width: $breakpoint-mobile){
		display: none;
	}
}

.open .accordion-h3{
	color: #000;
	display: inline-block;
	& small{
		color: #000;
		display: none;
	}
}
.open .accordion-h3:after{
	content: "\f077";
	color: #000;
	content: "";
}
.location-h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	color: $location-title-color;
	line-height: 1;
	font-family: $tertiary-font;

	& small{
		display: block;
		text-transform: none;
		margin-top: 5px;
		color: $location-subtitle-color;
		font-family: $primary-font;
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 18px;
	}
}

.fold-h2{
	color: $primary-text-color;
	font-size: 30px;
}

.fold-h3{
	font-weight: 700;
	padding-top: 5px;
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: $tertiary-font;
	@media all and(max-width: $breakpoint-mobile){
		font-size: 16px;
		margin-bottom: 20px;
		
	}
}

.summary-section{
	border-bottom: 1px solid #cbcbcb;
	margin-bottom: 10px;
	padding-bottom: 10px;

	&--total{
		border-color: #000;
		border-width: 2px;
	}
}

.summary-total{
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 30px;
	@media all and(max-width: $breakpoint-mobile){
		padding-bottom: 15px;
	}
}

.show-more-info{
	display: inline-block;
	color: $secondary-link-color;
	font-weight: 700;
	cursor: pointer;

	&:before{
		display: inline-block;
		font-weight: normal;
		content: "\f059";
		font-family: "FontAwesome";
		color: $primary-text-color;
		margin-right: 5px;
		margin-top: 15px;
	}
}

.more-info{
	display: block;
	margin-top: 5px;
	font-size: 13px;
}

.line-height{
	line-height: 25px;
}

.tell-me-more{

	& h3{
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 15px;
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		font-family: $tertiary-font;
	}

	& p{
		margin-bottom: 10px;
		line-height: 25px;
	}
}


.ea-offer-bigtext{
	width: 100%;
	font-family: $tertiary-font;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;

	& small{
		font-size: 50%;
		font-weight: normal;
	}
}

