
body{
	font-family: $primary-font;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	color: $primary-text-color;
	cursor: default;
	font-smooth: auto ;
	-webkit-font-smoothing : subpixel-antialiased;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: #52b7e8;
}

::selection {
	color: #fff;
	background: #52b7e8;
}

a{
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-moz-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
	-o-transition: color 0.2s ease-in-out 0s, background-color  0.2s ease-in-out 0s;
}

.h1{
	font-weight: 900;
	text-transform: uppercase;
	margin: 10px 0 10px;
	font-size: 36px;

	@media all and(max-width: $breakpoint-mobile){
		font-size: 26px;
	}
}

.h3{
	margin: 0;
	font-weight: 700;
	padding-bottom: 15px;
	font-size: 21px;
}

.h4{
	color: $tertiary-text-color;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 400;
}

.p{
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 15px;
}


.location-h3{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 23px;
	color: $location-title-color;
	line-height: 1;

	& small{
		display: block;
		text-transform: none;
		margin-top: 5px;
		color: $location-subtitle-color
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: 18px;
	}
}

.fold-h2{
	color: $primary-text-color;
	font-size: 30px;
}

.fold-h3{
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
	@media all and(max-width: $breakpoint-mobile){
		font-size: 16px;
	}
}