@font-face {
    font-family: 'mysteryland_fontregular';
    src: url('../font/mysterylandfont-condensedregula-webfont.eot');
    src: url('../font/mysterylandfont-condensedregula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/mysterylandfont-condensedregula-webfont.woff2') format('woff2'),
         url('../font/mysterylandfont-condensedregula-webfont.woff') format('woff'),
         url('../font/mysterylandfont-condensedregula-webfont.ttf') format('truetype'),
         url('../font/mysterylandfont-condensedregula-webfont.svg#mysteryland_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$body-bg-color: #000;

$theme-folder: ml;

// FONTS

$primary-font: 'Lato', Arial, sans-serif;
$primary-text-color: #000;
$primary-link-color: #000;
$secondary-text-color: #dc2d50;
$secondary-link-color: #dc2d50;
$tertiary-text-color: #666;
$tertiary-link-color: #666;

$secondary-font: 'mysteryland_fontregular', Arial, sans-serif;
$tertiary-font: 'Oswald', sans-serif;


// HEADER STYLING
$header-height: 80px;
$header-height-mobile: 50px;
$logo-width: 123px;
$logo-height: 50px;
$logo-width-mobile: 100px;
$logo-height-mobile: 40px;
$header-border-color: #ddd;
$header-link-color: #000;
$header-link-size: 30px;
$header-hover-color: #dc2d50;

// HERO STYLING

$hero-bg-color: #dc2d50;
$hero-color: #fff;
$hero-size: 70px;
$hero-size-mobile: 35px;

// FOOTER STYLING

$footer-bg-color: #000;
$footer-padding: 35px;
$footer-text-color: #444;
$footer-link-color: #444;
$footer-hover-color: #fff;
$footer-header-color: #444;
$footer-header-size: 16px;
$footer-header-weight: 700;
$footer-text-size: 13px;
$footer-line-color: #444;
$footer-form-bg-color: #000;
$footer-form-line-color: #444;
$footer-form-input-color: #fff;
$footer-form-submit-bg-color: #444;
$footer-form-submit-color: #000;
$footer-form-submit-hover-bg-color: #fff;
$footer-form-submit-hover-color: #000;


// BUTTON STYLING
$primary-btn-bg-color: #000;
$primary-btn-text-color: #fff;
$primary-btn-bg-hover-color: #dc2d50;
$primary-btn-hover-text-color: #fff;

$secondary-btn-bg-color: #dc2d50;
$secondary-btn-text-color: #fff;

// LOCATION STYLING

$date-bg-color: #f1f1f2;
$date-color: #000;
$location-color: #fff;
$location-title-color: #000;
$location-subtitle-color: #444;

// CONTENT STYLING

$section-bg-color: #fff;
$border-color: #cbcbcb;

// RIBBON STYLING

$ribbon-color: #dc2d50;
$ribbon-shadow-color: #231f20;


// FORM STYLING

$select-bg-color: #fff;
