<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="format-detection" content="telephone=no"> 
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

	<title>Thanks for booking with us!</title>
	<style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
		/* Some resets and issue fixes */
		#outlook a { padding:0; }
		body{ width:100% !important; -webkit-text; size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
		.ReadMsgBody { width: 100%; }
		.ExternalClass {width:100%;} 
		.backgroundTable {margin:0 auto; padding:0; width:100%;!important;} 
		table td {border-collapse: collapse;}
		.ExternalClass * {line-height: 115%;}
		/* End reset */

		html, body{
			height: 100%;
		} 
		*[class="body"]{
			padding: 0;
			margin: 0;
			height: 100%;
			background-color: #ffffff;
		}
		*[class="wrapper"]{
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #ffffff;
		}
		*[class="inner"]{
			margin: 0;
			padding: 0;
			background-color: #ffffff;
		}
		*[class="content"]{
			width: 100%;
		}
		*[class="header"]{
			padding-top: 20px;
			padding-bottom: 30px;
		}
		*[class="main"]{
			padding-bottom: 60px;
		}
		*[class="row"]{
			padding-top: 30px;
		}
		*[class="logo"]{
			padding-right: 20px;
		}
		*[class="footer"]{
			padding-top: 30px;
			padding-bottom: 60px;
		}
		*[class="w15"]{
			width: 15px;
		}
		*[class="w20"]{
			width: 20px;
		}
		*[class="img"]{
			display: block;
		}
		*[class="h1"]{
			font-weight: 400;
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;;
			font-size: 16px;
			color: #666666;
			border-left: 1px solid #666666;
			margin-bottom: 10px;
			padding-left: 20px;
		}
		*[class="h2"]{
			font-weight: 400;
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;;
			font-size: 27px;
			color: #111111;
			margin-bottom: 10px;
		}
		*[class="h3"]{
			font-weight: 900;
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;;
			font-size: 17px;
			color: #111111;
		}
		*[class="h4"]{
			font-weight: 900;
			font-family: "Lato", Arial, sans-serif;
			text-transform: uppercase;;
			font-size: 22px;
			color: #111111;
		}
		*[class="text-right"]{
			text-align: right;
		}
		*[class="p"]{
			font-size: 15px;
			line-height: 1.5;
			color:  #333333;
			padding-bottom: 30px;
			font-family: "Lato", Arial, sans-serif;
		}
		*[class="hr"]{
			background-color: #666666;
			height: 1px;
		}
		*[class="link"]{
			color: #333333;
			text-decoration: underline;
		}
	</style>


</head>
{{> body }}

</html>

